{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<tr class="hidden"><td></td></tr>

{{#each slaveComponent in view.slavesObj}}
  <tr {{bindAttr class=":component slaveComponent.componentName"}}>
    <td {{bindAttr class=":summary-label slaveComponent.summaryLabelClassName"}}><a href="#" {{action filterHosts slaveComponent}}>{{slaveComponent.displayNamePluralized}}</a>
    </td>
    <td {{bindAttr class=":summary-value slaveComponent.summaryValueClassName"}}>
      <span>
        {{#view App.ComponentLiveTextView liveComponentsBinding="slaveComponent.startedCount" totalComponentsBinding="slaveComponent.totalCount"}}
          {{view.liveComponents}}/{{view.totalComponents}}
        {{/view}}
      </span>
      {{slaveComponent.displayNamePluralized}} {{t dashboard.services.summary.slaves.live}}
    </td>
  </tr>
{{/each}}
