<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div>
  <a href='#' {{action "routeHome" target="controller"}}><i class="icon-home"></i></a>
  &nbsp;/&nbsp;<a href='#' {{action "routeApps" target="controller"}}>Apps</a>&nbsp;/&nbsp;
  {{view.appItem.appName}}
</div>
<p>Jobs: {{view.appItem.numJobsTotal}}</p>
<div id="runs" class="box">
  <div class="box-header">
  <h2>Runs list</h2>
    <table class="table table-bordered table-striped" id="dataTable">
    <thead>
    <tr>
      <th>Run &#35;</th>
      <th>Run Date</th>
      <th>Maps</th>
      <th>Reduces</th>
      <th>Input</th>
      <th>Output</th>
      <th>Duration</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each run in view.content}}
    <tr>
      <td>
      <label class="checkbox">
                {{view view.RunsCheckboxView}} {{run.id}}
      </label>
      </td>
      <td>{{run.startTime}}</td>
      <td>10</td>
      <td>15</td>
      <td>1300</td>
      <td>200</td>
      <td>{{run.lastUpdateTime}}</td>
      <td><a href="#"{{action "showRun" run}}>Details</a></td>
    </tr>
    {{/each}}
    </tbody>
    </table>
    </div>
</div>
{{outlet}}

