{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="host-details">
  <div {{bindAttr class=":host-title view.content.healthClass"}}>{{unbound view.content.publicHostName}}</div>
  <div><a href="javascript:void(null)" data-toggle="modal" {{action backToHostsList}}><i class="icon-arrow-left"></i>&nbsp;Back to Hosts</a></div>
<!--   {{#if controller.isAdmin}} -->
<!--   <div class="host-maintenance"> -->
<!--     <div class="host-maintenance-btn btn-group display-inline-block"> -->
<!--       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> -->
<!--         {{t services.service.actions.maintenance}} -->
<!--         <span class="caret"></span> -->
<!--       </a> -->
<!--       <ul class="dropdown-menu"> -->
<!--       dropdown menu links -->
<!--         {{#each option in view.maintenance}} -->
<!--         <li> -->
<!--         <a {{action validateDeletion target="controller"}} href="#">{{option.label}}</a> -->
<!--         </li> -->
<!--         {{/each}} -->
<!--       </ul> -->
<!--     </div> -->
<!--   </div> -->
<!--   {{/if}} -->
  <div class="content">
    {{view App.MainHostMenuView}}
    {{outlet}}
  </div>
</div>
