{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row-fluid">
  <div class="span12">
  <div class="span6">
  <div class="host-configuration">
    <div class="box">
		  <div class="box-header">
		    <h4>Summary</h4>
		  </div>
		  <div class="host-summary-content">
		    <dl class="dl-horizontal">
          <dt>Hostname:</dt><dd>&nbsp;{{view.content.publicHostName}}</dd>
		      <dt>IP Address:</dt><dd>&nbsp;{{view.content.ip}}</dd>
          <dt>OS:</dt><dd>&nbsp;{{view.content.osType}}&nbsp;({{view.content.osArch}})</dd>
		      <dt>CPU:</dt><dd>&nbsp;{{view.content.cpu}}</dd>
          <dt>Disk:</dt><dd>&nbsp;{{view.content.diskUsageFormatted}}</dd>
          <dt>Memory:</dt><dd>&nbsp;{{view.content.memoryFormatted}}</dd>
		      <dt>Load Avg:</dt><dd>&nbsp;{{view.content.loadAvg}}</dd>
		      <dt>Agent <br/> Heartbeat:</dt><dd>{{view.timeSinceHeartBeat}}</dd>
		    </dl>
		  </div>
	  </div>
  </div>
    {{!components}}
      <div class="box">
        <div class="box-header">
          <h4>Components</h4>
        </div>
        {{#if view.sortedComponents.length}}
        <div class="host-components">
          {{#each component in view.sortedComponents}}
          <div class="row-fluid">
          {{#view view.ComponentView contentBinding="component"}}
            <div class="span8">
              <span {{bindAttr class="view.statusClass :components-health"}}></span>&nbsp;
              {{component.displayName}}&nbsp;/&nbsp;
              <a href="#" {{action routeToService component.service target="controller"  }}>{{component.service.displayName}}</a>
            </div>
            <div class="span4">
              {{#if controller.isAdmin}}
              <div class="btn-group">
                <a {{ bindAttr class=":btn :dropdown-toggle view.disabledClass"}} data-toggle="dropdown">
                  Action
                  <span class="caret pull-right"></span>
                </a>
                <ul class="dropdown-menu">
                  {{#if view.isDataNode}}
                  <li {{bindAttr class="view.isDataNodeDecommissionAvailable::hidden"}}>
                    <a href="javascript:void(null)" data-toggle="modal" {{action "decommission" view.content target="controller"}}>
                      Decommission
                    </a>
                  </li>
                  <li {{bindAttr class="view.isDataNodeRecommissionAvailable::hidden"}}>
                    <a href="javascript:void(null)" data-toggle="modal" {{action "recommission" view.content target="controller"}}>
                      Recommission
                    </a>
                  </li>
                  {{/if}}
                  <li {{bindAttr class="view.isStart::hidden"}}>
                    <a href="javascript:void(null)" data-toggle="modal" {{action "stopComponent" view.content target="controller"}}>
                      Stop
                    </a>
                  </li>
                  <li {{bindAttr class="view.isStart:hidden:"}}>
                    <a href="javascript:void(null)" data-toggle="modal" {{action "startComponent" view.content target="controller"}}>
                      Start
                    </a>
                  </li>
                </ul>
              </div>
              {{/if}}
            </div>
          {{/view}}
          </div>
          {{/each}}
          {{#if view.clients.length}}
          <div class="clients row-fluid">
            <div class="span8 row">
              <div class="span2">Clients&nbsp;/&nbsp;</div>
              <div class="span8">
                {{#each component in view.clients}}
                {{#if component.isLast}}
                {{component.displayName}}
                {{else}}
                {{component.displayName}},
                {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
          {{/if}}

        </div>
        {{/if}}
      </div>
    </div>
  {{!metrics}}
 <div class="span6">
    <div class="box">
      <div class="box-header">
        <h4>Host Metrics</h4>
        <div class="btn-group">
          <a class="btn" rel="tooltip" title="Go to Ganglia" {{action "showGangliaCharts" target="view"}}><i class="icon-link"></i></a>
        </div>
      </div>
      <div class="row-fluid">
	     {{view App.MainHostMetricsView contentBinding="view.content"}}
	    </div>
	  </div>
  </div>
</div>
</div>