{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="main">
  <div id="top-nav">
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container main-container">
          {{#if isExistingClusterDataLoaded}}
            <a {{translateAttr href="topnav.logo.href"}} class="logo"><img src="/img/logo-white.png" alt="Apache Ambari"
                                                                           title="Apache Ambari"></a>
            <a class="brand" {{translateAttr href="topnav.logo.href"}} title="Apache Ambari">{{t app.name}}</a>
            <a class="brand cluster-name" href="javascript:void(null);" {{bindAttr title="clusterName"}}>
              <span {{action "showPopup" target="App.router.backgroundOperationsController"}} >{{clusterDisplayName}} </span>
              {{#with App.router.backgroundOperationsController}}
                {{#if allOperationsCount}}
                  <i class="icon-caret-left ops-count"></i><span id="span-bg-operation-count"
                                                                 class="label operations-count" {{action "showPopup" target="App.router.backgroundOperationsController"}}>
                    {{allOperationsCount}} {{pluralize allOperationsCount singular="t:op" plural="t:ops"}}</span>
                {{else}}
                  <i class="icon-caret-left"></i><span id="span-bg-operation-count"
                                                       class="label" {{action "showPopup" target="App.router.backgroundOperationsController"}}>
                    {{allOperationsCount}} {{pluralize allOperationsCount singular="t:op" plural="t:ops"}}</span>
                {{/if}}
              {{/with}}
            {{#if App.router.clusterController.isAlertsLoaded}}
              {{#if App.router.mainAlertDefinitionsController.unhealthyAlertInstancesCount}}
                <span {{bindAttr class=":label App.router.mainAlertDefinitionsController.isCriticalAlerts:alert-crit-count:alert-warn-count"}} {{action "showPopup" target="App.router.mainAlertInstancesController"}}>
                {{App.router.mainAlertDefinitionsController.unhealthyAlertInstancesCount}} {{pluralize App.router.mainAlertDefinitionsController.unhealthyAlertInstancesCount singular="alert" plural="alerts"}}</span>
              {{else}}
                <span rel="tooltip" {{translateAttr title="titlebar.alerts.noAlerts"}}
                      class="label alerts-none-count" {{action "showPopup" target="App.router.mainAlertInstancesController"}}>
                {{App.router.mainAlertDefinitionsController.unhealthyAlertInstancesCount}} {{pluralize App.router.mainAlertDefinitionsController.unhealthyAlertInstancesCount singular="alert" plural="alerts"}}</span>
              {{/if}}
            {{/if}}
            </a>
          {{else}}
            <a class="logo"><img src="/img/logo-white.png" alt="Apache Ambari" title="Apache Ambari"></a>
            <a class="brand" title="Apache Ambari">{{t app.name}}</a>
          {{/if}}

          {{#if App.router.loggedIn}}
            <div class="top-nav-user btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>&nbsp;{{App.router.loginName}}&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="" id="about" {{action showAboutPopup target="controller"}}>{{t app.aboutAmbari}}</a></li>
                {{#if App.router.clusterInstallCompleted}}
                  {{#if isClusterDataLoaded}}
                    {{#isAccessible upgrade_ONLY_ADMIN}}
                      <li><a href=""
                             id="manage-ambari" {{action goToAdminView target="controller"}}>{{t app.manageAmbari}}</a>
                      </li>
                    {{/isAccessible}}
                  {{/if}}
                {{else}}
                  {{#if App.isPermissionDataLoaded}}
                    {{#isAccessible upgrade_ONLY_ADMIN}}
                      <li><a href=""
                             id="manage-ambari" {{action goToAdminView target="controller"}}>{{t app.manageAmbari}}</a>
                      </li>
                    {{/isAccessible}}
                  {{/if}}
                {{/if}}
                {{#if isClusterDataLoaded}}
                  {{#isAccessible upgrade_ADMIN}}
                    <li><a href="" {{action showSettingsPopup target="App.router.userSettingsController"}}>{{t app.settings}}</a></li>
                  {{/isAccessible}}
                {{/if}}
                {{#if showExitLink}}
                  <li class="break"></li>
                  <li><a href="" id="sign-out" {{action logoff}}>{{t app.signout}}</a></li>
                {{/if}}
              </ul>
            </div>
          {{/if}}

          {{view App.MainMenuView}}

        </div>
      </div>
    </div>
  </div>
  <div class="container main-container">
    <div id="content">
      {{#if App.upgradeIsNotFinished}}
        <div class="ru-badge span12">
          <div class="navbar navbar-static-top clearfix">
            <div class="span11">
              {{#if isExistingClusterDataLoaded}}
                <p class="span4 offset4">
                <a class="brand cluster-name" href="#">
                  {{#if App.upgradeInProgress}}
                    {{#if App.router.mainAdminStackAndUpgradeController.isDowngrade}}
                      <span
                              class="label upgrade-in-progress" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                             <i class="icon-cog"></i>&nbsp;{{t admin.stackVersions.version.downgrade.running}}</span>
                    {{else}}
                      <span
                              class="label upgrade-in-progress" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                             <i class="icon-cog"></i>&nbsp;{{t admin.stackVersions.version.upgrade.running}}</span>
                    {{/if}}
                  {{/if}}
                  {{#if App.upgradeHolding}}
                    {{#if App.router.mainAdminStackAndUpgradeController.isDowngrade}}
                      <span
                              class="label upgrade-holding" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                          <i class="icon-pause"></i>&nbsp;{{t admin.stackVersions.version.downgrade.pause}}</span>
                    {{else}}
                      <span
                              class="label upgrade-holding" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                          <i class="icon-pause"></i>&nbsp;{{t admin.stackVersions.version.upgrade.pause}}</span>
                    {{/if}}
                  {{/if}}
                  {{#if App.upgradeAborted}}
                    {{#if App.router.mainAdminStackAndUpgradeController.isDowngrade}}
                      <span class="label upgrade-holding" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                        <i class="icon-pause"></i>&nbsp;{{t admin.stackVersions.version.downgrade.suspended}}
                      </span>
                    {{else}}
                      <span class="label upgrade-holding" {{action "openUpgradeDialog" target="App.router.mainAdminStackAndUpgradeController"}}>
                        <i class="icon-pause"></i>&nbsp;{{t admin.stackVersions.version.upgrade.suspended}}
                      </span>
                    {{/if}}
                  {{/if}}
                </a>
                </p>
                {{#if App.router.mainAdminStackAndUpgradeController.isFinalizeItem}}
                  <p class="span10 alert alert-danger">{{t admin.stackVersions.version.upgrade.notFinalized.warning}}</p>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
      {{outlet}}
    </div>
  </div>
</div>