<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->


<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <!--Sidebar content-->
                <div class="well">
                    <ul class="nav nav-pills nav-stacked">
                        <li {{bindAttr class="isStep1:active"}}><a {{action gotoStep1}}>{{App.messages.step1_header}}</a></li>
                        <li {{bindAttr class="isStep2:active"}}><a {{action gotoStep2}}>{{App.messages.step2_header}}</a></li>
                        <li {{bindAttr class="isStep3:active"}}><a {{action gotoStep3}}>{{App.messages.step3_header}}</a></li>
                        <li {{bindAttr class="isStep4:active"}}><a {{action gotoStep4}}>{{App.messages.step4_header}}</a></li>
                        <li {{bindAttr class="isStep5:active"}}><a {{action gotoStep5}}>{{App.messages.step5_header}}</a></li>
                        <li {{bindAttr class="isStep6:active"}}><a {{action gotoStep6}}>{{App.messages.step6_header}}</a></li>
                        <li {{bindAttr class="isStep7:active"}}><a {{action gotoStep7}}>{{App.messages.step7_header}}</a></li>
                        <li {{bindAttr class="isStep8:active"}}><a {{action gotoStep8}}>{{App.messages.step8_header}}</a></li>
                        <li {{bindAttr class="isStep9:active"}}><a {{action gotoStep9}}>{{App.messages.step9_header}}</a></li>
                        <li {{bindAttr class="isStep10:active"}}><a {{action gotoStep10}}>{{App.messages.step10_header}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <!--Body content-->
                <div>
                   {{#unless currentStep}}
                   <h4> {{App.messages.installer_welcome}} </h4>

                    <!--  below gotoStep1 call should be replaced by a function in installerController that checks
                         the existing incomplete installation and cleans all the local stored data related to it -->

                    <a class="btn btn-success"  {{action "gotoStep1"}}>New cluster</a>

                    {{/unless}}
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>