<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div id="installer">
  <div class="container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <!--Sidebar content-->
          <div class="well">
            <ul class="nav nav-pills nav-stacked">
              <li {{bindAttr class="isStep1:active"}}><a {{action gotoStep1}}>{{t installer.step1.header}}</a></li>
              <li {{bindAttr class="isStep2:active"}}><a {{action gotoStep2}}>{{t installer.step2.header}}</a></li>
              <li {{bindAttr class="isStep3:active"}}><a {{action gotoStep3}}>{{t installer.step3.header}}</a></li>
              <li {{bindAttr class="isStep4:active"}}><a {{action gotoStep4}}>{{t installer.step4.header}}</a></li>
              <li {{bindAttr class="isStep5:active"}}><a {{action gotoStep5}}>{{t installer.step5.header}}</a></li>
              <li {{bindAttr class="isStep6:active"}}><a {{action gotoStep6}}>{{t installer.step6.header}}</a></li>
              <li {{bindAttr class="isStep7:active"}}><a {{action gotoStep7}}>{{t installer.step7.header}}</a></li>
              <li {{bindAttr class="isStep8:active"}}><a {{action gotoStep8}}>{{t installer.step8.header}}</a></li>
              <li {{bindAttr class="isStep9:active"}}><a {{action gotoStep9}}>{{t installer.step9.header}}</a></li>
              <li {{bindAttr class="isStep10:active"}}><a {{action gotoStep10}}>{{t installer.step10.header}}</a></li>
            </ul>
          </div>
        </div>
        <div id="installer-content" class="well span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
