{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#modal-dialog
close="cancel"
translucentOverlay=true
clickOutsideToClose=true
container-class="modal-dialog"}}
  <div class="modal-content">
    <div class="modal-header text-danger">
      <button type="button" class="close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{fa-icon "exclamation-triangle" size="lg"}} Confirm</h4>
    </div>
    <div class="modal-body text-center">
      <p class="">Are you sure you want to drop <span class="text-uppercase"><strong>'{{name}}'</strong></span> database?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action "cancel"}}>{{fa-icon "times"}} Cancel</button>
      <button type="button" class="btn btn-primary" {{action "confirm"}}>{{fa-icon "check"}} Confirm</button>
    </div>
  </div><!-- /.modal-content -->
{{/modal-dialog}}
