{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}



{{#if isQueryRunning}}
   <div style="position:relative">
       <div style="margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;text-align: center">
         {{fa-icon "spinner fa-2" spin=true}}
       </div>
    </div>
{{/if}}

{{#unless isQueryRunning}}
  <div class="clearfix" style="text-align: right; padding-right:5px">
    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" title="Actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{fa-icon "bars"}} </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
        <li><a href="#" {{action "openSaveHdfsModal" }} class="text-uppercase">{{fa-icon "save"}} Save To HDFS</a></li>
        <li><a href="#" {{action "openDownloadCsvModal" }} class="text-uppercase">{{fa-icon "download"}} Download As CSV</a></li>
      </ul>
    </span>&nbsp;

    <button class="btn btn-default" title="Previous Page" {{action "goPrevPage" }}  >{{fa-icon "arrow-left"}} </button>
    <button class="btn btn-default" title="Next Page" {{action "goNextPage" }}>{{fa-icon "arrow-right"}} </button> &nbsp;
    <button class="btn btn-default" title="Expand/Collspse" {{action "expandQueryResultPanel" }}>{{fa-icon "expand"}}</button>
  </div>

  <div class="clearfix">
    {{#light-table table height='70vh' as |t|}}
      {{#if columns.length}}
        {{t.head
        onColumnClick=(action 'onColumnClick')
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
        }}

        {{#t.body
        canSelect=false
        onScrolledToBottom=(action 'onScrolledToBottom')
        as |body|
        }}
          {{#if isLoading}}
            {{#body.loader}}
              {{table-loader}}
            {{/body.loader}}
          {{/if}}
        {{/t.body}}
      {{/if}}
    {{/light-table}}
  </div>


{{/unless}}


{{#if showSaveHdfsModal}}
  {{export-result
  confirmText="OK"
  rejectText="CLOSE"
  label="Please enter save path and name."
  jobId=jobId
  labelIcon="save"
  rejectIcon="times"
  confirmIcon="check"
  closable=false
  confirmClass="success"
  confirm="saveToHDFS"
  reject="closeSaveHdfsModal"
  isExportResultSuccessMessege=isExportResultSuccessMessege
  isExportResultFailureMessege=isExportResultFailureMessege
  }}
{{/if}}

{{#if showDownloadCsvModal}}
  {{export-result
  confirmText="OK"
  rejectText="CLOSE"
  label="Download results as CSV"
  jobId=jobId
  labelIcon="download"
  rejectIcon="times"
  confirmIcon="check"
  closable=false
  confirmClass="success"
  confirm="downloadAsCsv"
  reject="closeDownloadCsvModal"
  isExportResultSuccessMessege=isExportResultSuccessMessege
  isExportResultFailureMessege=isExportResultFailureMessege
  }}
{{/if}}

{{yield}}

