{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="btn-group">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="selected-item pull-left">{{selectedLabel}}</span>
      <span class="pull-right fa fa-caret-down"></span>
  </a>
  <ul class="dropdown-menu">
    {{#each item in items}}
      <li {{action "select" item}}>
        <a>{{path-binding item labelPath}}
          {{#if canEdit}}
            <span class="fa fa-remove pull-right" {{action "remove" item}}></span>
            <span class="fa fa-edit pull-right" {{action "edit" item}}></span>
          {{/if}}
        </a>
      </li>
    {{/each}}
    {{#if canAdd}}
      <li {{action "add"}}><a>{{t "buttons.addItem"}}</a></li>
    {{/if}}
  </ul>
</div>