{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="step1">
  <h4>{{t wizard.step1.header}}</h4>
  <div class="row">
    <div class="col-xs-6">
      {{view view.availableTypesSelect contentBinding="controller.availableTypes" optionLabelPath="content.displayName" multiple="true" class="type-select"}}
    </div>
    <div class="col-xs-6">
      <div {{bind-attr class=":control-group controller.isNameError:error"}}>
        <label>{{t common.name}}: {{input id="app-name-input" valueBinding="controller.newAppName"}}</label>
      </div>
      {{#if controller.isNameError}}
        <div class="alert alert-danger">
          {{controller.nameErrorMessage}}
        </div>
      {{/if}}
      <h5>{{t wizard.step1.description}}:</h5>
      <p>
        {{controller.typeDescription}}
      </p>
    </div>
    {{#if controller.isAppTypesError}}
      <div class="col-xs-12">
          <div class="alert alert-info app-types-alert">
              {{t wizard.step1.noAppTypesError}}
          </div>
      </div>
    {{/if}}
  </div>
  <div class="btn-area">
    <button class="btn btn-success pull-right next-btn" {{bind-attr disabled="controller.isSubmitDisabled"}} {{action submit target="controller"}}>{{t common.next}} &rarr;</button>
  </div>
</div>