{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="panel panel-default panel-capacity">
  <div class="panel-heading">
    <div class="panel-title">
      <strong>Scheduler</strong>
      <a href="#" {{action 'toggleEditScheduler'}} class="text-right"> 
        {{#if isEditScheduler}}
                <div class="edit-link">Hide Edit</div>
        {{else}}
                <div class="edit-link">Show Edit</div>
        {{/if}}
      </a>
    </div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-xs-4 control-label">Maximum Apps</label>
        <div class="col-xs-8">
        {{#if isEditScheduler}}
          {{int-input value=scheduler.maximum_applications class="input-sm"}}
        {{else}}
          <p class="form-control-static">{{scheduler.maximum_applications}}</p>
        {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">Minimum AM Resource</label>
        <div class="col-xs-8">
        {{#if isEditScheduler}}
          <div class="input-group">
            {{int-input value=scheduler.maximum_am_resource_percent class="input-sm" maxVal=100}}
            <span class="input-group-addon">%</span>
          </div>
        {{else}}
          <p class="form-control-static">{{scheduler.maximum_am_resource_percent}} %</p>
        {{/if}}
        </div>
      </div>
    </form>
  </div>
</div>
