{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<table class="table table-expandable">
  <thead>
    <tr>
      {{#each column in columns}}
        <th>
          {{#if column.caption}}
            {{column-filter-widget class="pull-left"
                                   column=column
                                   filterValue=column.filterValue
                                   sortAscending=controller.sortAscending
                                   sortProperties=controller.sortProperties
                                   columnSorted="sort"
                                   columnFiltered="filter"}}
          {{else}}
            {{tb-helper "caption" column}}
          {{/if}}
        </th>
      {{/each}}
      <th>
        <button type="btn" class="btn btn-sm btn-warning pull-right clear-filters" {{action "clearFilters"}}>{{t "buttons.clearFilters"}}</button>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if history.length}}
      {{#if model.length}}
        {{#each item in this}}
          {{job-tr-view job=item onStopJob="interruptJob" onFileRequested="loadFile"}}
        {{/each}}
      {{else}}
        <tr>
          <td colspan="5">
            <h4 class="empty-list">{{t "emptyList.history.noMatches"}}</h4>
          </td>
        </tr>
      {{/if}}
    {{else}}
      <tr>
        <td colspan="5">
          <h4 class="empty-list">{{t "emptyList.history.noItems"}}</h4>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
