{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#bs-panel heading=sectionLabel collapsible=true dismiss=false open=isGeneral }}
  <form class="form-horizontal" role="form">
    {{#each config in sectionConfigs}}
      <div class="form-group">

        <label class="col-sm-4 control-label">{{formatWordBreak config.label devider='.'}}</label>

        <div class="col-sm-6">
          {{input value=config.value class="form-control"}}
        </div>

        {{#if isCustom}}
          <div class="col-sm-2">
            {{#bs-button clicked="deleteConfig" clickedParamBinding="config" type="danger"}}{{t common.delete}}{{/bs-button}}
          </div>
        {{/if}}

      </div>
    {{/each}}
  </form>
  {{#if isCustom}}
    {{#if buttonVisible}}
      {{#bs-button clicked="addProperty" type="primary"}}{{t configs.add_property}}{{/bs-button}}
    {{else}}
      {{! "Add Property"-form}}
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-4">
            <label class="control-label">{{t common.name}}</label>
          </div>
          <div class="col-sm-6">
            <label class="control-label">{{t common.value}}</label>
          </div>
        </div>
        <div {{bind-attr class=":form-group newConfig.hasError:has-error"}}>
          <div class="col-sm-4">
            {{input value=newConfig.name class="form-control"}}
          </div>
          <div class="col-sm-6">
            {{input value=newConfig.value class="form-control"}}
          </div>
        </div>
        <div class="form-group">
          {{#if newConfig.hasError}}
            <div class="col-sm-10">
              <div class="alert alert-danger">
                {{newConfig.messsage}}
                </div>
            </div>
          {{/if}}
        </div>
        {{#bs-button clicked="submit" type="primary"}}{{t common.add}}{{/bs-button}}
        {{#bs-button clicked="discard"}}{{t common.cancel}}{{/bs-button}}
      </form>
    {{! "Add Property"-form end}}
    {{/if}}
  {{/if}}
{{/bs-panel}}
