{{!
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
}}

<div class="panel panel-default query-table-container">
  <!-- Default panel contents -->
  <div class="panel-heading">Query Monitor<sup class="beta">&nbsp;BETA</sup></div>

  <table id="query-table" class="table query-table sortable table-hover">
    <thead id="query-table-header">
    <tr id="query-table-header-row" class="table-header">
      <th id="query-table-header-pid" data-defaultsort="asc">PID</th>
      <th id="query-table-header-status">Status</th>
      <th id="query-table-header-username">User</th>
      <th id="query-table-header-databasename">Database</th>
      <th id="query-table-header-submittime">Submit Time</th>
      <th id="query-table-header-duration">Duration</th>
      <th id="query-table-header-clientaddress">Client</th>
    </tr>
    </thead>

    <tbody id="query-table-body">
    {{#unless queries.length}}
      <tr id="no-queries" class="no-queries">
        <td colspan="8">No currently running or waiting queries</td>
      </tr>
    {{else}}
      {{#each queries as |query index|}}
        <tr id="query-table-row{{index}}" data-toggle="tooltip" data-placement="bottom" data-html="true"
            data-original-title="<div style='text-align: left;'><p style='font-weight: bold;'>Query Text</p><p>{{query.queryText}}</p></div>">
          <td id="query-table-row{{index}}-pid" class="pid-text">{{query.pid}}</td>
          <td id="query-table-row{{index}}-status" class="{{if query.waitingResource '' (if query.waiting 'orange' 'green')}}">{{query.status}}</td>
          <td id="query-table-row{{index}}-username">{{query.userName}}</td>
          <td id="query-table-row{{index}}-databasename">{{query.databaseName}}</td>
          <td id="query-table-row{{index}}-submittime">{{query.queryStartTime}}</td>
          <td id="query-table-row{{index}}-duration">{{query.formattedDuration}}</td>
          <td id="query-table-row{{index}}-clientaddress">{{query.clientAddress}}</td>
        </tr>
      {{/each}}
    {{/unless}}
    </tbody>
  </table>
</div>

{{yield}}
