<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div id="apps">
  <div class="breadcrumb">
    <li><a href='#' {{action "routeHome" target="controller"}}><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li class="active">Apps</li>
  </div>
  <table class="table table-bordered table-stripe avg-table" >
            <tbody>
            <tr >
              <td rowspan="3" class="avg-star"><a href="#" {{action "avgStarClick" target="view"}} class="icon-star a"></a></td>
              <td></td>
              <td>Jobs</td>
              <td>Input</td>
              <td>Output</td>
              <td>Duration</td>
              <td>Oldest</td>
              <td>Most Recent</td>
            </tr>
            <tr class="avg-info">
              <td>Avg</td>
              <td>{{view.avgData.jobs.avg}}</td>
              <td>{{view.avgData.input.avg}}</td>
              <td>{{view.avgData.output.avg}}</td>
              <td>{{view.avgData.duration.avg}}</td>
              <td>{{view.avgData.times.oldest}}</td>
              <td>{{view.avgData.times.youngest}}</td>
            </tr>
             <tr class="compare-info">

              <td>Min / Max</td>
              <td>{{view.avgData.jobs.min}} / {{view.avgData.jobs.max}}</td>
              <td>{{view.avgData.input.min}} / {{view.avgData.input.max}}</td>
              <td>{{view.avgData.output.min}} / {{view.avgData.output.max}}</td>
              <td>{{view.avgData.duration.min}} / {{view.avgData.duration.max}}</td>
              <td></td>
              <td></td>
             </tr>
            </tbody>
  </table>
    <div id="filter_info" class="row">
      <div class="span3">Show: <a href="javascript:void(0)">Filtered ({{view.filtered}})</a>&nbsp;&#124;&nbsp;<a href="javascript:void(0)">Starred ({{view.staredData.count}})</a></div>
      <div class="span2"><a href="#" {{action "clearFilters" target="view"}}>Clear filters</a>&nbsp;&#124;&nbsp;<a href="#" {{action "clearStars" target="controller"}}>Clear stars</a></div>
    </div>
    <div>
    </div>
    <table class="table table-striped" id="dataTable">
    <thead>
    <tr>
      <th>App ID <i class="icon-question-sign"></i></th>
      <th>Name <i class="icon-question-sign"></i></th>
      <th>Type <i class="icon-question-sign"></i></th>
      <th>User <i class="icon-question-sign"></i></th>
      <th>Jobs <i class="icon-question-sign"></i></th>
      <th>Input <i class="icon-question-sign"></i></th>
      <th>Output <i class="icon-question-sign"></i></th>
      <th>Duration <i class="icon-question-sign"></i></th>
      <th>Run Date</th>
    </tr>
    <tr>
          <th>{{view view.appidFilterView}}</th>
          <th>{{view view.nameFilterView}}</th>
          <th>{{view view.typeSelectView}}</th>
          <th>{{view view.userFilterView}}<input id="user_filter" type="hidden"></th>
          <th>{{view view.jobsFilterView}}</th>
          <th>{{view view.inputFilterView}}</th>
          <th>{{view view.outputFilterView}}</th>
          <th>{{view view.durationFilterView}}</th>
          <th>{{view view.rundateSelectView}}</th>
        </tr>
    </thead>
    <tbody>
    {{#each run in view.content}}
      {{view view.containerRow runBinding="run" currentViewBinding="view.appTableRow"}}
    {{/each}}
    </tbody>
    </table>
</div>

