<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div id="apps">
    <div id="filter_info" class="row">
      <div class="span3">Show: <a href="javascript:void(0)">Filtered (400)</a>&nbsp;&#124;&nbsp;<a href="javascript:void(0)">Starred (20)</a></div>
      <div class="span2"><a href="javascript:void(0)">Clear filters</a>&nbsp;&#124;&nbsp;<a href="javascript:void(0)">Clear stars</a></div>
    </div>
    <div>
    </div>
    <table class="table table-striped" id="dataTable">
    <thead>
    <tr>
      <th>App ID<i class="icon-question-sign"></i></th>
      <th>Name<i class="icon-question-sign"></i></th>
      <th>Type<i class="icon-question-sign"></i></th>
      <th>User<i class="icon-question-sign"></i></th>
      <th>Jobs<i class="icon-question-sign"></i></th>
      <th>Input<i class="icon-question-sign"></i></th>
      <th>Output<i class="icon-question-sign"></i></th>
      <th>Duration<i class="icon-question-sign"></i></th>
      <th>Run Date</th>
    </tr>
    <tr>
          <th>{{view view.appidFilterView}}</th>
          <th><input class="input-small" type="text" placeholder="Name"/></th>
          <th>{{view view.typeSelectView}}</th>
          <th><input class="input-mini" type="text" placeholder="User"/></th>
          <th><input class="input-mini" type="text" placeholder="Jobs"/></th>
          <th><input class="input-mini" type="text" placeholder="Input"/></th>
          <th><input class="input-mini" type="text" placeholder="Output"/></th>
          <th><input class="input-mini" type="text" placeholder="Duration"/></th>
          <th>{{view view.rundateSelectView}}</th>
        </tr>
    </thead>
    <tbody>
    {{#each run in view.content}}
    <tr>
      <td><i class="icon-star"></i>&nbsp;<a href="javascript:void(0)">ID&nbsp;{{run.appId}}</a></td>
      <td>{{run.appName}}</td>
      <td>{{run.type}}</td>
      <td>{{run.userName}}</td>
      <td>{{run.numJobsTotal}}</td>
      <td>10MB</td>
      <td>30MB</td>
      <td>00:15:32</td>
      <td>{{run.lastUpdateTime}}</td>
    </tr>
    {{/each}}
    </tbody>
    </table>
</div>

