<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <h4>Summary</h4>
          </div>
          <div id="myCarousel" class="carousel">
            <div class="carousel-inner">
              <div class="active item">

              </div>
              <div class="item">

              </div>
              <div class="item">

              </div>
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          <div class="box-footer"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <h4>Services</h4>
          </div>
          <dl class="dl-horizontal services">
            {{#each service in controller.services}}
              <dt class="health-status-{{unbound service.healthStatus}}">
                <a {{action selectService service href=true}}>{{service.label}}</a> -
              </dt>
              <dd>
                {{#each component in service.components}}
                  {{#if component.type}}
                    <a href="#" {{action selectHost component.host}}>{{component.componentName}}</a>,
                  {{else}}
                    <a href="#" {{action filterHosts component}}>{{component.componentName}}</a>
                  {{/if}}
                {{/each}}
              </dd>
            {{/each}}
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="box">
      <div class="box-header">
        <h4>Alerts</h4>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{controller.alertsFilteredBy}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a {{action alertsFilter target="controller"}} href="javascript:void(null)">All</a></li>
            {{#each service in controller.services}}
              <li><a {{action alertsFilter service target="controller"}} href="javascript:void(null)">{{service.label}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <ul class="alerts">
        {{#each controller.alerts}}
        <li class="status-{{unbound status}}">
          <p><span class="title">{{title}}</span> <a {{action selectService service href=true}}>{{service.label}}</a><span class="date-time">{{date}}</span></p>
          <p><span>{{status}}:</span> <span>{{message}}</span></p>
        </li>
        {{/each}}
      </ul>
      <div class="box-footer">
        <hr />
        <a class="go-to" href="javascript:void(null)">Go to Nagios</a>
      </div>
    </div>
  </div>
</div>