<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <h4>{{t dashboard.services}}</h4>
          </div>
          <dl class="dl-horizontal services">
            {{view App.MainDashboardServiceHdfsView servicesBinding="controller.services"}}
            {{view App.MainDashboardServiceMapreduceView servicesBinding="controller.services"}}
            {{view App.MainDashboardServiceHbaseView servicesBinding="controller.services"}}
            {{view App.MainDashboardServiceHiveView servicesBinding="controller.services"}}
            {{view App.MainDashboardServiceZookeperView servicesBinding="controller.services"}}
            {{view App.MainDashboardServiceOozieView servicesBinding="controller.services"}}
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="box">
      <div class="box-header">
        <h4>Alerts</h4>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{controller.alertsFilteredBy}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a {{action alertsFilter target="controller"}} href="javascript:void(null)">All</a></li>
            {{#each service in controller.services}}
              <li><a {{action alertsFilter service target="controller"}} href="javascript:void(null)">{{service.label}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <ul class="alerts">
        {{#each controller.displayAlerts}}
        <li class="status-{{unbound status}}">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span1 status-icon">
                {{#if isOk}}
                  <i class="icon-ok icon-large"></i>
                {{else}}
                  <i class="icon-remove icon-large"></i>
                {{/if}}
              </div>
              <div class="span11">
                <div class="row-fluid">
                  <div class="span8 title">{{title}}
                    {{#if serviceName}}
                      <a class="serviceLink" href="{{unbound serviceLink}}">{{serviceName}}</a>
                    {{/if}}
                  </div>
                  <div class="span4 date-time">{{dateDisplay}}</div>
                </div>
                <div class="row-fluid message">{{message}}</div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      <div class="box-footer">
        <hr />
        <a class="go-to" href="http://nagiosserver/nagios" target="_blank">Go to Nagios</a>
      </div>
    </div>
  </div>
</div>