{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <h4>{{t dashboard.services}}</h4>
          </div>
          <dl class="dl-horizontal services">
            {{#each item in view.content}}
                {{view item.viewName serviceBinding="item.model"}}
            {{/each}}
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
		<div class="box">
			<div class="box-header">
				<h4>Cluster Metrics</h4>
				<div class="btn-group">
        </div>
				<div class="btn-group">
          <a class="btn" target="_blank" rel="tooltip" title="Go to Ganglia" {{bindAttr href="view.gangliaUrl"}}><i class="icon-link"></i></a>
        </div>
			</div>
			<div class="graphs-container">
				<div class="row">
					<div class="span6">
						<div class="row">
							<div class="span3">{{view App.ChartClusterMetricsNetwork}}</div>
							<div class="span3">{{view App.ChartClusterMetricsLoad}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="row">
							<div class="span3">{{view App.ChartClusterMetricsMemory}}</div>
							<div class="span3">{{view App.ChartClusterMetricsCPU}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
