{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="box">
          <div class="box-header">
            <h4>{{t dashboard.services}}</h4>
          </div>
          <dl class="dl-horizontal services">
            {{view App.MainDashboardServiceHdfsView controllerBinding="controller"}}
            {{view App.MainDashboardServiceMapreduceView controllerBinding="controller"}}
            {{view App.MainDashboardServiceHbaseView controllerBinding="controller"}}
            {{view App.MainDashboardServiceHiveView controllerBinding="controller"}}
            {{view App.MainDashboardServiceZookeperView controllerBinding="controller"}}
            {{view App.MainDashboardServiceOozieView controllerBinding="controller"}}
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
		<div class="box">
			<div class="box-header">
				<h4>Cluster Metrics</h4>
				<div class="btn-group">
          <a class="btn" href="http://gangliaserver/ganglia/?t=yes" target="_blank" rel="tooltip" title="Go to Ganglia"><i class="icon-link"></i></a>
        </div>
			</div>
			<div class="graphs-container">
				<div class="row">
					<div class="span6">
						<div class="row">
							<div class="span3">{{view App.ChartClusterMetricsNetwork}}</div>
							<div class="span3">{{view App.ChartClusterMetricsLoad}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="row">
							<div class="span3">{{view App.ChartClusterMetricsMemory}}</div>
							<div class="span3">{{view App.ChartClusterMetricsCPU}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="box alerts-section">
      <div class="box-header">
        <h4>Alerts</h4>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{controller.alertsFilteredBy}} <span class="caret"></span></button>
          <a class="btn" href="http://nagiosserver/nagios" target="_blank" rel="tooltip" title="Go to Nagios"><i class="icon-link"></i></a>
          <ul class="dropdown-menu">
            <li><a {{action alertsFilter target="controller"}} href="javascript:void(null)">All</a></li>
            {{#each service in controller.services}}
              <li><a {{action alertsFilter service target="controller"}} href="javascript:void(null)">{{service.label}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <ul class="alerts">
        {{#each controller.displayAlerts}}
        <li class="status-{{unbound status}}">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span1 status-icon">
                {{#if isOk}}
                  <i class="icon-ok icon-large"></i>
                {{else}}
                  <i class="icon-remove icon-large"></i>
                {{/if}}
              </div>
              <div class="span11">
                <div class="row-fluid">
                  <div class="span8 title">{{title}}
                    {{#if serviceName}}
                      <a class="serviceLink" href="{{unbound serviceLink}}">{{serviceName}}</a>
                    {{/if}}
                  </div>
                  <div class="span4 date-time">{{dateDisplay}}</div>
                </div>
                <div class="row-fluid message">{{message}}</div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
	</div>
</div>
