{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="hosts">

  <div class="box-header row">
    <div class="hosts-actions pull-left">
      {{#if App.isAdmin}}
        {{view App.HostTableMenuView}}
      {{/if}}
    </div>
    <div class="health-status-bar pull-left">
      {{#view view.statusFilter categoriesBinding="view.categories"}}
        <div class="btn-group display-inline-block">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="filters-label">{{t common.filter}}: </span>
            <span>
              <span {{bindAttr class="view.class"}}></span>
              {{view.comboBoxLabel}}
              <span class="caret"></span>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li {{bindAttr class=":category-item view.filtersUsed::active"}}>
              <a {{action clearFilter target="view"}} href="#">{{t common.all}} ({{view.parentView.totalCount}})</a>
            </li>
            {{#each category in view.categories}}
              {{#if category.isVisible}}
                <li {{bindAttr class=":category-item category.itemClass"}}>
                  <a {{action selectCategory category target="view"}} href="#">
                      <span {{bindAttr class="category.isHealthStatus:health-status category.healthClass category.class"}}></span>
                    {{category.label}}
                  </a>
               </li>
             {{/if}}
           {{/each}}
         </ul>
       </div>
      {{/view}}
    </div>
  </div>

  <table class="table advanced-header-table table-bordered table-striped" id="hosts-table">
    <thead>
      {{#view view.sortView classNames="label-row" contentBinding="view.filteredContent"}}
        <th class="first"> </th>
        <th> </th>
        {{view view.parentView.nameSort}}
        <th> </th>
        <th> </th>
        {{view view.parentView.ipSort}}
        {{view view.parentView.cpuSort}}
        {{view view.parentView.memorySort}}
        {{view view.parentView.diskUsageSort}}
        {{view view.parentView.loadAvgSort}}
        <th class="sort-view-6">{{t common.components}}</th>
      {{/view}}
      <tr class="filter-row">
        <th class="first"><div class="ember-view view-wrapper">{{view Ember.Checkbox checkedBinding="view.selectAllHosts"}}</div></th>
        <th> </th>
        <th>{{view view.nameFilterView}}</th>
        <th> </th>
        <th> </th>
        <th>{{view view.ipFilterView}}</th>
        <th>{{view view.cpuFilterView}}</th>
        <th>{{view view.ramFilterView}}</th>
        <th> </th>
        <th>{{view view.loadAvgFilterView}}</th>
        <th>{{view view.componentsFilterView}}</th>
      </tr>
    </thead>
    <tbody>
    {{#if view.pageContent}}
      {{#each host in view.pageContent}}
        {{#view view.HostView contentBinding="host"}}

          <td class="first">{{view Ember.Checkbox checkedBinding="host.selected"}}</td>

          <td class="health">
            <span rel="HealthTooltip" {{bindAttr class="host.healthClass host.healthIconClass"}} {{bindAttr data-original-title="host.healthToolTip" }}></span>
          </td>

          <td class="name">
            <span class="trim_hostname">
              <a title="{{unbound host.publicHostName}}" href="#" {{action "showDetails" host}}>{{unbound host.publicHostName}}</a>
            </span>
            {{#if host.criticalAlertsCount}}
              <span class="label label-important alerts-count" {{action "showAlertsPopup" host target="controller"}}>{{host.criticalAlertsCount}}</span>
            {{/if}}
          </td>
          <td class="restart">
            {{#if host.componentsWithStaleConfigsCount}}
              <span class="muted icon-refresh" rel="ComponentsTooltip" {{bindAttr title="view.restartRequiredComponentsMessage"}}></span>
            {{/if}}
          </td>
          <td class="passive-state">
              <span rel="ComponentsTooltip" {{bindAttr data-original-title="view.componentsInPassiveStateMessage" class="host.componentsInPassiveStateCount:icon-medkit"}}></span>
          </td>
          <td>{{host.ip}}</td>
          <td>{{host.coresFormatted}}</td>
          <td>{{host.memoryFormatted}}</td>

          <td>
            <div class="progress progress-info" {{bindAttr title="host.diskInfoBar"}} rel="UsageTooltip">
              <div class="bar" {{bindAttr style="view.usageStyle"}}></div>
            </div>
          </td>

          <td>{{host.loadAvg}}</td>
          <td>
            <a href="#" class="host-components-expander" {{action toggleComponents target="view"}}> <span {{bindAttr class="view.isComponentsCollapsed:icon-caret-right:icon-caret-down"}}></span>
              {{view.content.hostComponents.length}} {{pluralize view.content.hostComponents.length singular="t:common.component" plural="t:common.components"}}</a>
            <div id="host-{{unbound host.hostName}}" class="host-components">
              {{{view.labels}}}
            </div>
          </td>
        {{/view}}
      {{/each}}
    {{else}}
      <tr>
        <td class="first"> </td>
        <td colspan="11">
          {{t hosts.table.noHosts}}
        </td>
      </tr>
    {{/if}}
    </tbody>
  </table>

  <div {{bindAttr class="view.filteringComplete:hidden :hosts-overlay"}}>
    <div class="spinner"></div>
  </div>

  <div class="page-bar">
    <div class="filtered-info span4">
      <label>{{view.filteredContentInfo}} - <a {{action clearFilters target="view"}} href="#">{{t tableView.filters.clearAllFilters}}</a></label>
    </div>
    <div class="selected-hosts-info span4">
      {{#if view.showSelectedFilter}}
        <div>
          <a {{action filterSelected target="view"}} href="#">
            {{view.selectedHosts.length}}
            {{pluralize view.selectedHostsCount singular="t:hosts.filters.selectedHostInfo" plural="t:hosts.filters.selectedHostsInfo"}}
          </a>
        </div> - <a {{action clearSelection target="view"}} href="#">{{t hosts.filters.clearSelection}}</a>
      {{/if}}
    </div>
    <div class="items-on-page">
      <label>{{t common.show}}: {{view view.rowsPerPageSelectView selectionBinding="view.displayLength"}}</label>
    </div>
    <div class="info">{{view.paginationInfo}}</div>
    <div class="paging_two_button">
      <a {{bindAttr class="view.paginationLeftClass"}}{{action previousPage target="view"}}><i class="icon-arrow-left"></i></a>
      <a {{bindAttr class="view.paginationRightClass"}}{{action nextPage target="view"}}><i class="icon-arrow-right"></i></a>
    </div>
  </div>
</div>

