{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row-fluid">
  <div class="services-menu well span2 service-menu-width" style="padding: 8px 0">
    {{view App.MainServiceMenuView}}
    {{#if App.isAdmin}}
      {{#if App.supports.addServices}}
        <div class="add-service-button">
          <a {{bindAttr class=":btn controller.isAllServicesInstalled:disabled"}} {{action gotoAddService target="controller"}}>
            <i class="icon-plus"></i>
            {{t services.service.add}}
          </a>
        </div>
      {{/if}}
      {{#if App.supports.startStopAllServices}}
        <div class="start-stop-all-service-button">
          <a href="javascript:void(null)" {{bindAttr class=":btn controller.isStartAllDisabled:disabled:btn-success" }}
             data-toggle="modal" {{action "startAllService" target="controller"}}>
            <i class="icon-play"></i>
            {{t services.service.startAll}}
          </a>
        </div>
        <div class="start-stop-all-service-button">
          <a href="javascript:void(null)" {{bindAttr class=":btn controller.isStopAllDisabled:disabled:btn-danger" }}
             data-toggle="modal" {{action "stopAllService" target="controller"}}>
            <i class="icon-stop icon-white"></i>
            {{t services.service.stopAll}}
          </a>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="span10 summary-width">
    {{outlet}}
  </div>
</div>