{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div>
  {{#if App.isHaEnabled}}
    {{#if App.supports.autoRollbackHA}}
      <p class="text-success">
        {{t admin.highAvailability.enabled}}
        <a class="btn btn-padding btn-success" {{action disableHighAvailability target="controller"}}>{{t admin.highAvailability.button.disable}}</a>
      </p>
    {{else}}
       <p class="text-success">
        {{t admin.highAvailability.enabled}}
       </p>
    {{/if}}
  {{else}}
    <p class="muted">
      {{t admin.highAvailability.disabled}}
    </p>
    <a class="btn btn-padding btn-success ha-btn" {{action enableHighAvailability target="controller"}}>{{t admin.highAvailability.button.enable}}</a>
  {{/if}}
  {{#if view.supportRMHA}}
    <div class="rm-ha">
    {{#if App.isRMHaEnabled}}
        <p class="text-success">
          {{t admin.rm_highAvailability.enabled}}
        </p>
    {{else}}
        <p class="muted">
          {{t admin.rm_highAvailability.disabled}}
        </p>
        <a class="btn btn-padding btn-success ha-btn" {{action enableRMHighAvailability target="controller"}}>{{t admin.rm_highAvailability.button.enable}}</a>
    {{/if}}
  </div>
  {{/if}}
</div>
