{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="admin-auto-start">
  <h4>{{t admin.serviceAutoStart.header}}</h4>
  <p>{{t admin.serviceAutoStart.header.text}}</p>
  {{#if view.isLoaded}}
    <div class="cluster-switcher row">
      <div class="col-md-2">
        <strong>{{t admin.serviceAutoStart.body.text}}</strong>
      </div>
      <div class="col-md-4">
        {{view App.CheckboxView checkedBinding="controller.servicesAutoStart"}}
      </div>
      <div class="col-md-6">
        <div class="pull-right operations-button">
          <button class="btn btn-default" {{action revertStatus target="controller"}} {{bindAttr disabled="controller.isSaveDisabled"}}>{{t common.discard}}</button>
          <button class="btn btn-success" {{action showSavePopup target="controller"}} {{bindAttr disabled="controller.isSaveDisabled"}}>{{t common.save}}</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="services-heading">{{t common.service}}</div>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs nav-stacked nav-tabs-left">
              {{#each tab in controller.tabs}}
                <li {{bindAttr class="tab.isActive:active"}}>
                  <a href="#" data-toggle="tab" {{bindAttr data-target="tab.headingClass"}}>
                    {{tab.display_name}}
                    {{view App.MainAdminServiceAutoStartIndicatorView tabBinding="tab"}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-9 row">
        <div class="tab-content col-md-12">
          {{#each tab in controller.tabs}}
            <div {{bindAttr class=":tab-pane tab.isActive:active tab.service_name"}}>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-md-4">
                      {{t common.component}}
                    </th>
                    <th class="col-md-8">
                      {{t common.status}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each component in tab.components}}
                    <tr>
                      <td class="col-md-4">
                        {{component.displayName}}
                      </td>
                      <td class="col-md-8">
                        {{view App.MainAdminServiceAutoStartComponentView componentBinding="component" tabBinding="tab"}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
                {{#isAuthorized "SERVICE.MANAGE_AUTO_START"}}
                  <tfoot>
                    <tr>
                      <td class="col-md-4"></td>
                      <td class="col-md-8">
                        <a href="#" class="enable-all-link" {{action enableAll tab target="controller"}}>
                            {{t common.enableAll}}
                        </a> |
                        <a href="#" {{action disableAll tab target="controller"}}>{{t common.disableAll}}</a>
                      </td>
                    </tr>
                  </tfoot>
                {{/isAuthorized}}
              </table>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    {{view App.SpinnerView}}
  {{/if}}
</div>
