<div id="serviceConfig">
  <h2>{{t admin.security.step2.header}}</h2>

  <p class="alert alert-info">
    {{t admin.security.step2.body.header}}
  </p>
  {{view App.ServicesConfigView}}

  <div class="btn-area">
    <a class="btn" {{action back}}>&larr; {{t common.back}}</a>

    <a class="btn btn-success pull-right" {{bindAttr disabled="isSubmitDisabled"}}
      {{action submit target="controller"}}>{{t common.next}} &rarr;</a>
  </div>
</div>