{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#each compareConfig in view.serviceConfigProperty.compareConfigs}}
  <div class="clearfix"></div>
  <div {{bindAttr class=":control-group :overrideField :widget-config-comparison"}}>
    {{view view.serviceConfigProperty.widget canEditBinding="view.canEdit" configBinding="compareConfig"
    isBeingComparedBinding="view.isBeingCompared" categoryConfigsAllBinding="view.parentView.categoryConfigsAll" isPopoverEnabled="false"}}
    <div class="widget-config-controls version-labels">
      <span class="label label-info">{{compareConfig.serviceVersion.versionText}}</span>
      {{#if compareConfig.serviceVersion.isCurrent}}
        <span class="label label-success">{{t common.current}}</span>
      {{/if}}
      {{#unless compareConfig.isMock}}
        {{#if compareConfig.supportsFinal}}
            <i {{bindAttr class=":icon-lock compareConfig.isFinal::hidden" }}></i>
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/each}}
  <div class="clearfix"></div>
