{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="stack-version-details">
  <a class="breadcrumbs" href="#/main/admin/versions">{{t common.versions}}</a><span>&nbsp; > &nbsp;{{content.displayName}}</span>

  <div class="box">
    <div class="box-header">
      <h4>{{t common.status}}</h4>
    </div>
    <div class="version-content">
      <div class="row-fluid">
        <div class="span7">
          {{#unless installComplete}}
            <div class="row-fluid">
              <div class="span3">{{t admin.stackVersions.details.not.installed.on}}</div>
              <div {{bindAttr class="view.noInitHosts:not-active-link :span6"}}>
                <a href="#" class="not-installed-hosts-count"
                  {{action showHosts view.versionStateMap.not_installed content.repositoryVersion view.initHosts target="App.router.mainStackVersionsController"}}>
                  {{view.initHosts.length}}&nbsp;
                  {{pluralize view.initHosts.length singular="t:admin.stackVersions.details.host" plural="t:admin.stackVersions.details.hosts"}}
                </a>
              </div>
            </div>
          {{/unless}}
          <div class="row-fluid">
            <div class="span3">{{t admin.stackVersions.details.installed.on}}</div>
            <div {{bindAttr class="view.noInstalledHosts:not-active-link :span6"}}>
              <a href="#" class="installed-hosts-count"
                {{action showHosts view.versionStateMap.installed content.repositoryVersion view.installedHosts target="App.router.mainStackVersionsController"}}>
                {{view.installedHosts.length}}&nbsp;
                {{pluralize view.installedHosts.length singular="t:admin.stackVersions.details.host" plural="t:admin.stackVersions.details.hosts"}}
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">{{t admin.stackVersions.details.current.on}}</div>
            <div {{bindAttr class="view.noCurrentHosts:not-active-link :span6"}}>
              <a href="#" class="current-hosts-count"
                {{action showHosts view.versionStateMap.current content.repositoryVersion view.currentHosts target="App.router.mainStackVersionsController"}}>
                {{view.currentHosts.length}}&nbsp;
                {{pluralize view.currentHosts.length singular="t:admin.stackVersions.details.host" plural="t:admin.stackVersions.details.hosts"}}
              </a>
            </div>
          </div>
        </div>
        <div class="span5 align-center">
          {{!show progress when install repo is in progress}}
          {{#if installInProgress}}
            <div class="repo-installing-info">
            <i class="icon-cogs">&nbsp;</i>
            <a href="javascript:void(null);" id="repo-installing-link" {{action showProgressPopup target="controller"}}>
              {{t admin.stackVersions.details.hosts.btn.installing}}
            </a>
            </div>
            <div class="progress-striped active progress-info progress repo-installing-progress"><div class="bar" {{bindAttr style="view.progress"}}></div></div>
          {{/if}}
          {{!show install/reinstall button}}
          {{#if notInstalled}}
            <a {{bindAttr class="view.installButtonClass :btn :stack-status-button"}}
              {{action installRepoVersion content target="controller"}}>
              {{view.installButtonMsg}}
            </a>
          {{/if}}
          {{!show success mesasge when install complete}}
          {{#if installComplete}}
            <i class="icon-ok">&nbsp;</i>
            <span>{{t admin.stackVersions.details.hosts.btn.nothing}}</span>&nbsp;&nbsp;
            {{#if controller.current}}
              <span class="label label-success">{{t common.current}}</span>
            {{else}}
              <a href="#/main/admin/stack">{{t admin.stackVersions.details.hosts.btn.goto.upgrade}}</a>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h4>{{t common.repositories}}</h4>
    </div>
    <div class="version-content">
      <table class="stack-version-repos">
        <thead>
        <tr>
          <th>
            {{t common.os}}
          </th>
          <th>
            {{t common.name}}
          </th>
          <th>
            {{t admin.stackVersions.details.base.url}}
          </th>
        </tr>
        </thead>
        <tbody>
        {{#each os in content.operatingSystems}}
          {{#each repo in os.repositories}}
            <tr>
              <td>
                {{os.osType}}
              </td>
              <td>
                {{repo.repoId}}
              </td>
              <td>
                {{view Ember.TextField valueBinding="repo.baseUrl" disabled="disabled"}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
