{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="stack-version-details">
  <a class="breadcrumbs" href="#/main/admin/versions">{{t common.versions}}</a><span>&nbsp; > &nbsp;{{content.repositoryVersion.displayName}}</span>

  <div class="box">
    <div class="box-header">
      <h4>{{t common.details}}</h4>
    </div>
    <div class="version-content">
      <div class="row-fluid">
        <div class="span3">{{t common.stack}}</div>
        <div class="span6">{{content.name}}</div>
      </div>
      <div class="row-fluid">
        <div class="span3">{{t admin.stackVersions.datails.versionName}}</div>
        <div class="span6">{{content.repositoryVersion.displayName}}</div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h4>{{t common.status}}</h4>
    </div>
    <div class="version-content">
      <div class="row-fluid">
        <div class="span8">
          <div class="row-fluid">
            <div class="span3">{{t admin.stackVersions.datails.not.installed.on}}</div>
            <div {{bindAttr class="noInitHosts:not-active-link :span6"}}>
              <a href="#" title='current' class="not-installed-hosts-count"
                {{action showHosts content.repositoryVersion.displayName content.noInstallFailedHosts target="App.router.mainStackVersionsController"}}>
                {{content.installFailedHosts.length}}/{{totalHostCount}}
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">{{t admin.stackVersions.datails.installed.on}}</div>
            <div {{bindAttr class="content.noInstalledHosts:not-active-link :span6"}}>
              <a href="#" title='installed' class="installed-hosts-count"
                {{action showHosts content.repositoryVersion.displayName content.installedHosts target="App.router.mainStackVersionsController"}}>
                {{content.installedHosts.length}}/{{totalHostCount}}
              </a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3">{{t admin.stackVersions.datails.current.on}}</div>
            <div {{bindAttr class="content.noCurrentHosts:not-active-link :span6"}}>
              <a href="#" title='current' class="current-hosts-count"
                {{action showHosts content.repositoryVersion.displayName content.currentHosts target="App.router.mainStackVersionsController"}}>
                {{content.currentHosts.length}}/{{totalHostCount}}
              </a>
            </div>
          </div>
        </div>
        <div class="span4 align-center">
          <a id="repo-version-action-button" {{bindAttr class="view.statusClass :btn :stack-status-button"}} {{action installStackVersion content target="controller"}}>
            <i {{bindAttr class="installInProgress:icon-cog"}}>&nbsp;</i>{{view.stackTextStatus}}
          </a>
          <a href="#/main/admin/stack" {{bindAttr class="installedNotUpgraded::hidden"}} >{{t admin.stackVersions.datails.hosts.btn.goto.upgrade}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h4>{{t common.repositories}}</h4>
    </div>
    <div class="version-content">
      <table class="stack-version-repos">
        <thead>
        <tr>
          <th>
            {{t common.os}}
          </th>
          <th>
            {{t common.name}}
          </th>
          <th>
            {{t admin.stackVersions.datails.base.url}}
          </th>
        </tr>
        </thead>
        <tbody>
        {{#each os in content.repositoryVersion.operatingSystems}}
          {{#each repo in os.repositories}}
            <tr>
              <td>
                {{os.osType}}
              </td>
              <td>
                {{repo.repoId}}
              </td>
              <td>
                {{view Ember.TextField valueBinding="repo.baseUrl" disabled="disabled"}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
