{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="serviceConfig">
  {{#if dataIsLoaded}}
    <div class="accordion">
      {{#each category in selectedService.configCategories}}
          <div class="accordion-group {{unbound category.name}}">
              <div class="accordion-heading" {{action "onToggleBlock" category target="view"}}>
                {{#if category.isCollapsed}}
                    <i class='icon-caret-right pull-left accordion-toggle'></i>
                {{else}}
                    <i class='icon-caret-down pull-left accordion-toggle'></i>
                {{/if}}
                  <a class="accordion-toggle">
                    {{category.name}}
                  </a>
              </div>


            {{#view App.ServiceConfigsByCategoryView categoryBinding="category" serviceConfigsBinding="selectedService.configs"}}
                <form class="form-horizontal">

                  {{#each view.categoryConfigs}}
                    {{#if isVisible}}
                        <div {{bindAttr class="errorMessage:error: :control-group"}}>
                            <label class="control-label">{{displayName}}</label>

                            <div class="controls">
                              {{view viewClass serviceConfigBinding="this" categoryConfigsBinding="view.categoryConfigs"}}
                                <span class="help-inline">{{errorMessage}}</span>
                            </div>
                        </div>
                    {{/if}}
                  {{/each}}

                </form>
            {{/view}}
          </div>
      {{/each}}
    </div>
    {{#if App.router.loginController.isAdmin}}
    <p class="pull-right">
        <!--<input class="btn btn-primary" type="button" value="Save and apply changes" {{!bindAttr disabled="isSubmitDisabled"}} />-->
        <a class="btn btn-primary" {{bindAttr disabled="isSubmitDisabled"}}
          {{action restartServicePopup target="controller"}}>Save and apply changes</a>
    </p>
    {{/if}}
  {{else}}
    <div class="spinner"></div>
  {{/if}}
</div>