{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row-fluid service-block">
  <div class="span6">

    <div class="box">
      <div class="box-header">
        <h4>{{controller.content.label}} {{t services.service.info.menu.summary}}</h4>
      </div>
      <div class="service-content">
        <table id="summary-info" class="table no-borders table-condensed">
          <tbody>
            {{#if view.noTemplateService}}
              {{view view.sumMasterComponentView}}
            {{/if}}
            {{#if view.serviceStatus.hdfs}}
              {{view App.MainDashboardServiceHdfsView showOnlyRows=true serviceBinding="view.service"}}
            {{/if}}
            {{#if view.serviceStatus.mapreduce}}
              {{view App.MainDashboardServiceMapreduceView showOnlyRows=true serviceBinding="view.service"}}
            {{/if}}
            {{#if view.serviceStatus.yarn}}
              {{view App.MainDashboardServiceYARNView showOnlyRows=true serviceBinding="view.service"}}
            {{/if}}
            {{#if view.serviceStatus.mapreduce2}}
              {{template "templates/main/service/info/summary/mapreduce2"}}
            {{/if}}
            {{#if view.serviceStatus.hbase}}
              {{view App.MainDashboardServiceHbaseView showOnlyRows=true serviceBinding="view.service"}}
            {{/if}}
            {{#if view.serviceStatus.zookeeper}}
              {{template "templates/main/service/info/summary/zookeeper"}}
            {{/if}}
            {{#if view.serviceStatus.oozie}}
              {{template "templates/main/service/info/summary/oozie"}}
            {{/if}}
            {{#if view.serviceStatus.ganglia}}
              {{template "templates/main/service/info/summary/ganglia"}}
            {{/if}}
            {{#if view.serviceStatus.hive}}
              {{template "templates/main/service/info/summary/hive"}}
            {{/if}}
            {{#if view.serviceStatus.hue}}
              {{template "templates/main/service/info/summary/hue"}}
            {{/if}}
            {{#if view.serviceStatus.flume}}
              {{view App.MainDashboardServiceFlumeView showOnlyRows=true serviceBinding="view.service"}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="box">
      <div class="box-header">
        <h4>{{t services.alerts.headingOfList}}</h4>
        {{#if controller.isNagiosInstalled}}
          <div class="btn-group">
            <a class="btn" target="_blank" rel="tooltip" title="Go to Nagios" {{bindAttr href="controller.nagiosUrl"}}><i class="icon-link"></i></a>
          </div>
        {{/if}}
      </div>
      <ul id='summary-alerts-list' class="alerts">
        {{#if controller.alerts.length}}
          {{#each controller.alerts}}
            {{view App.AlertItemView contentBinding="this"}}
          {{/each}}
        {{else}}
          {{#if controller.isNagiosInstalled}}
            <div class="alert alert-info">
              {{t services.service.info.summary.nagios.noAlerts}}
            </div>
          {{else}}
            <div class="alert">
              {{t services.service.info.summary.nagios.alerts}}
            </div>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>
{{#if view.serviceMetricGraphs.length}}
<div class="row-fluid">
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <h4>{{controller.content.label}} {{t common.metrics}}</h4>
        {{#if controller.isGangliaInstalled}}
          <div class="btn-group">
            <a class="btn" target="_blank" rel="tooltip" title="Go to Ganglia" {{bindAttr href="view.gangliaUrl"}}><i class="icon-link"></i></a>
          </div>
        {{/if}}
      </div>
      
      <div class="">
        <table class="graphs">
          {{#each graphs in view.serviceMetricGraphs}}
            <tr>
              {{#each graph in graphs}}
                <td>
                  <div class="">
                    {{view graph}}
                  </div>
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </table>
      </div>
      
    </div>
  </div>
</div>
{{/if}}
