<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="row-fluid service-block">
<div class="span6">
<ul class="nav nav-pills move">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Links <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {{#each controller.content.quickLinks}}
      <a href="javascript:void(null)">{{label}}</a>
      {{/each}}
    </ul>
  </li>
</ul>

<div class="box">
  <div class="box-header">
    <h4>{{controller.content.label}} Summary</h4>
  </div>
  <div class="service-content">
    <table id="summary-info" class="table table-bordered table-striped table-condensed">
      <tbody>
      {{#each component in controller.content.components}}
      <tr>
        {{#if component.type}}
        <td class="summary-label">{{component.componentName}}</td>
        <td><a {{action selectHost component.host}} href="javascript:void(null)">{{component.host.hostName}}</a></td>
        {{else}}
        <td class="summary-label">{{component.componentName}}s</td>
        <td><a {{action filterHosts component}} href="javascript:void(null)">{{component.componentName}}s</a></td>
        {{/if}}
      </tr>
      {{/each}}
      {{#if view.serviceStatus.hdfs}}
      <tr>
        <td>{{t services.service.summary.version}}</td>
        <td>{{view.attributes.version}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.nameNode}}</td>
        <td><a {{bindAttr href="view.attributes.namenode_addr"}}>{{view.attributes.namenode_addr}}</a></td>
      </tr>
      <tr>
        <td>{{t services.service.summary.nameNodeUptime}}</td>
        <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.nameNodeHeap}}</td>
        <td>{{view.attributes.memory_heap_used}} / {{view.attributes.memory_heap_max}} ({{view.attributes.memory_heap_percent_used}}
          used)
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.dataNodes}}</td>
        <td>
          <a href="javascript:void(null)">{{view.attributes.live_nodes}} live</a> / <a
            href="javascript:void(null)">{{view.attributes.dead_nodes}} dead</a> / <a
            href="javascript:void(null)">{{view.attributes.decommissioning_nodes}} decom</a>
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.diskCapacity}}</td>
        <td>{{view.attributes.used_bytes}} / {{view.attributes.dfs_total_bytes}} ({{view.attributes.dfs_percent_disk_used}}
          used)
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.blocksTotal}}</td>
        <td>{{view.attributes.dfs_blocks_total}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.blockErrors}}</td>
        <td>{{view.attributes.dfs_blocks_corrupt}} corr / {{view.attributes.dfs_blocks_missing}} miss
          / {{view.attributes.dfs_blocks_underreplicated}} underrep
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.totalFiles}}</td>
        <td>{{view.attributes.dfs_dirfiles_count}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.pendingUpgradeStatus}}</td>
        <td>
          {{#if view.attributes.pending_upgrades}}
          Pending upgrade
          {{else}}
          No pending upgrade
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.safeModeStatus}}</td>
        <td>
          {{#if view.attributes.safemode}}
          In safe mode
          {{else}}
          Not in safe mode
          {{/if}}
        </td>
      </tr>
      {{/if}}
      {{#if view.serviceStatus.mapreduce}}
      <tr>
        <td>{{t services.service.summary.version}}</td>
        <td>{{view.attributes.version}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.jobTracker}}</td>
        <td><a {{bindAttr href="view.attributes.jobtracker_addr"}}>{{view.attributes.jobtracker_addr}}</a></td>
      </tr>
      <tr>
        <td>{{t services.service.summary.jobTrackerUptime}}</td>
        <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.trackersLiveTotal}}</td>
        <td>
          <a href="javascript:void(null)">{{view.attributes.trackers_live}} live</a>
          / {{view.attributes.trackers_total}} total
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.trackersBlacklistGraylist}}</td>
        <td>
          <a href="javascript:void(null)">{{view.attributes.trackers_blacklisted}} blacklist</a> / <a
            href="javascript:void(null)">{{view.attributes.trackers_graylisted}} graylist</a> / <a
            href="javascript:void(null)">{{view.attributes.trackers_excluded}} excl.</a>
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.jobTrackerHeap}}</td>
        <td>{{view.attributes.memory_heap_used}} / {{view.attributes.memory_heap_max}} ({{view.attributes.memory_heap_percent_used}}
          used)
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.totalSlotsCapacity}}</td>
        <td>{{view.attributes.map_task_capacity}} maps / {{view.attributes.reduce_task_capacity}} reduces
          / {{view.attributes.average_node_capacity}} avg per node
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.totalJobs}}</td>
        <td>{{view.attributes.job_total_submissions}} submitted / {{view.attributes.job_total_completions}}
          completed
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.currentSlotUtiliMaps}}</td>
        <td>{{view.attributes.occupied_map_slots}} occupied / {{view.attributes.reserved_map_slots}} reserved</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.currentSlotUtiliReduces}}</td>
        <td>{{view.attributes.occupied_reduce_slots}} occupied / {{view.attributes.reserved_reduce_slots}} reserved
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.tasksMaps}}</td>
        <td>{{view.attributes.running_map_tasks}} running / {{view.attributes.waiting_maps}} waiting</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.tasksReduces}}</td>
        <td>{{view.attributes.running_reduce_tasks}} running / {{view.attributes.waiting_reduces}} waiting</td>
      </tr>
      {{/if}}
      {{#if view.serviceStatus.hbase}}
      <tr>
        <td>{{t services.service.summary.version}}</td>
        <td>{{view.attributes.version}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.hbaseMaster}}</td>
        <td><a {{bindAttr href="view.attributes.hbasemaster_addr"}}>{{view.attributes.hbasemaster_addr}}</a></td>
      </tr>
      <tr>
        <td>{{t services.service.summary.regionServerCount}}</td>
        <td>
          <a href="javascript:void(null)">{{view.attributes.live_regionservers}} live</a> / <a
            href="javascript:void(null)">{{view.attributes.dead_regionservers}} dead</a>
        </td>
      </tr>
      <tr>
        <td>{{t services.service.summary.regionInTransition}}</td>
        <td>{{view.attributes.regions_in_transition_count}}</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.masterStarted}}</td>
        <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.masterActivated}}</td>
        <td>{{view.attributes.active_time.d}}day {{view.attributes.active_time.h}}hr {{view.attributes.active_time.m}}min</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.averageLoad}}</td>
        <td>{{view.attributes.average_load}} regions per RegionServer</td>
      </tr>
      <tr>
        <td>{{t services.service.summary.masterHeap}}</td>
        <td>{{view.attributes.memory_heap_used}} / {{view.attributes.memory_heap_max}} ({{view.attributes.memory_heap_percent_used}}
          used)
        </td>
      </tr>
      {{/if}}
      </tbody>
    </table>
    {{!view view.moreStatsView}}
  </div>
  {{!
      <div class="box-footer">
      </div>
      }}
</div>
</div>
<div class="span6">
	<div class="box">
		<div class="box-header">
			<h4>Alerts</h4>
			<div class="btn-group">
        <a class="btn" href="http://nagiosserver/nagios" target="_blank" rel="tooltip" title="Go to Nagios"><i class="icon-link"></i></a>
			</div>
		</div>
		<ul id='summary-alerts-list' class="alerts">
			{{#each controller.alerts}}
			 <li class="status-{{unbound status}}">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span1 status-icon">
                {{#if isOk}}
                  <i class="icon-ok icon-large"></i>
                {{else}}
                  <i class="icon-remove icon-large"></i>
                {{/if}}
              </div>
              <div class="span11">
                <div class="row-fluid">
                  <div class="span7 title">{{title}}
                  </div>
                  <div class="span5 date-time">{{dateDisplay}}</div>
                </div>
                <div class="row-fluid message">{{message}}</div>
              </div>
            </div>
          </div>
        </li>
			{{/each}}
		</ul>
	</div>
</div>
</div>
{{#if view.attributes.metric_graph_views}}
<div class="row-fluid">
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <h4>{{controller.content.label}} Metrics</h4>
      </div>
      
      <div class="summary-metric-graphs row-fluid">
        {{#each graph in view.attributes.metric_graph_views}}
          <div class="span3">
            {{view graph}}
          </div> 
        {{/each}}
      </div>
      
    </div>
  </div>
</div>
{{/if}}