<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="row-fluid service-block">
	<div class="span6">
    <ul class="nav nav-pills move">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Links <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{#each controller.content.quickLinks}}
            <a href="javascript:void(null)">{{label}}</a>
          {{/each}}
        </ul>
      </li>
    </ul>
		<h4>{{controller.content.label}} Summary</h4>
		<div class="service-content">
			{{#each component in controller.content.components}}
        {{#if component.type}}
          <div class="service-links">{{component.componentName}}: <a {{action selectHost component.host}} href="javascript:void(null)">{{component.host.hostName}}</a></div>
        {{else}}
          <div class="service-links">{{component.componentName}}: <a {{action filterHosts component}} href="javascript:void(null)">{{component.componentName}}</a></div>
        {{/if}}
			{{/each}}
      {{#if view.serviceStatus.hdfs}}
        <table id="summary-info" class="table table-bordered table-striped table-condensed">
          <tbody>
            <tr>
              <td>{{t services.service.summary.version}}</td>
              <td>{{view.attributes.version}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.nameNode}}</td>
              <td><a {{bindAttr href="view.attributes.namenode_addr"}}>{{view.attributes.namenode_addr}}</a></td>
            </tr>
            <tr>
              <td>{{t services.service.summary.nameNodeUptime}}</td>
              <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
            </tr>
          </tbody>
          <tbody {{bindAttr class="view.isHide:hide"}}>
            <tr>
              <td>{{t services.service.summary.nameNodeHeap}}</td>
              <td>{{view.attributes.memory_heap_used}} MB / {{view.attributes.memory_heap_max}} MB ({{view.attributes.memory_heap_percent_used}}% used)</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.dataNodes}}</td>
              <td>
                <a href="javascript:void(null)">{{view.attributes.live_nodes}}</a> / <a href="javascript:void(null)">{{view.attributes.dead_nodes}}</a> / <a href="javascript:void(null)">{{view.attributes.decommissioning_nodes}}</a>
              </td>
            </tr>
            <tr>
              <td>{{t services.service.summary.diskCapacity}}</td>
              <td>{{view.attributes.used_bytes}} GB / {{view.attributes.dfs_total_bytes}} GB ({{view.attributes.dfs_percent_disk_used}}% used)</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.blocksTotal}}</td>
              <td>{{view.attributes.dfs_blocks_total}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.blockErrors}}</td>
              <td>{{view.attributes.dfs_blocks_corrupt}} / {{view.attributes.dfs_blocks_missing}} / ({{view.attributes.dfs_blocks_underreplicated}})</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.totalFiles}}</td>
              <td>{{view.attributes.dfs_dirfiles_count}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.pendingUpgradeStatus}}</td>
              <td>
                {{#if view.attributes.pending_upgrades}}
                Pending upgrade
                {{else}}
                No pending upgrade
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>{{t services.service.summary.safeModeStatus}}</td>
              <td>
                {{#if view.attributes.safemode}}
                In safe mode
                {{else}}
                Not in safe mode
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      {{#if view.serviceStatus.mapreduce}}
        <table id="summary-info" class="table table-bordered table-striped table-condensed">
          <tbody>
            <tr>
              <td>{{t services.service.summary.version}}</td>
              <td>{{view.attributes.version}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.jobTracker}}</td>
              <td><a {{bindAttr href="view.attributes.jobtracker_addr"}}>{{view.attributes.jobtracker_addr}}</a></td>
            </tr>
            <tr>
              <td>{{t services.service.summary.jobTrackerUptime}}</td>
              <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
            </tr>
          </tbody>
          <tbody {{bindAttr class="view.isHide:hide"}}>
            <tr>
              <td>{{t services.service.summary.trackersLiveTotal}}</td>
              <td>
                <a href="javascript:void(null)">{{view.attributes.trackers_live}}</a> / {{view.attributes.trackers_total}}
              </td>
            </tr>
            <tr>
              <td>{{t services.service.summary.trackersBlacklistGraylist}}</td>
              <td>
                <a href="javascript:void(null)">{{view.attributes.trackers_blacklisted}}</a> / <a href="javascript:void(null)">{{view.attributes.trackers_graylisted}}</a> / <a href="javascript:void(null)">{{view.attributes.trackers_excluded}}</a>
              </td>
            </tr>
            <tr>
              <td>{{t services.service.summary.jobTrackerHeap}}</td>
              <td>{{view.attributes.memory_heap_used}} MB / {{view.attributes.memory_heap_max}} MB ({{view.attributes.memory_heap_percent_used}}% used)</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.totalSlotsCapacity}}</td>
              <td>{{view.attributes.map_task_capacity}} / {{view.attributes.reduce_task_capacity}} / {{view.attributes.average_node_capacity}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.totalJobs}}</td>
              <td>{{view.attributes.job_total_submissions}} / {{view.attributes.job_total_completions}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.currentSlotUtiliMaps}}</td>
              <td>{{view.attributes.occupied_map_slots}} / {{view.attributes.reserved_map_slots}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.currentSlotUtiliReduces}}</td>
              <td>{{view.attributes.occupied_reduce_slots}} / {{view.attributes.reserved_reduce_slots}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.tasksMaps}}</td>
              <td>{{view.attributes.running_map_tasks}} / {{view.attributes.waiting_maps}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.tasksReduces}}</td>
              <td>{{view.attributes.running_reduce_tasks}} / {{view.attributes.waiting_reduces}}</td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      {{#if view.serviceStatus.hbase}}
        <table id="summary-info" class="table table-bordered table-striped table-condensed">
          <tbody>
            <tr>
              <td>{{t services.service.summary.version}}</td>
              <td>{{view.attributes.version}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.hbaseMaster}}</td>
              <td><a {{bindAttr href="view.attributes.hbasemaster_addr"}}>{{view.attributes.hbasemaster_addr}}</a></td>
            </tr>
            <tr>
              <td>{{t services.service.summary.regionServerCount}}</td>
              <td>
                <a href="javascript:void(null)">{{view.attributes.live_regionservers}}</a> / <a href="javascript:void(null)">{{view.attributes.dead_regionservers}}</a>
              </td>
            </tr>
          </tbody>
          <tbody {{bindAttr class="view.isHide:hide"}}>
            <tr>
              <td>{{t services.service.summary.regionInTransition}}</td>
              <td>{{view.attributes.regions_in_transition_count}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.masterStarted}}</td>
              <td>{{view.attributes.start_time.d}}day {{view.attributes.start_time.h}}hr {{view.attributes.start_time.m}}min</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.masterActivated}}</td>
              <td>{{view.attributes.active_time.d}}day {{view.attributes.active_time.h}}hr {{view.attributes.active_time.m}}min</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.averageLoad}}</td>
              <td>{{view.attributes.average_load}}</td>
            </tr>
            <tr>
              <td>{{t services.service.summary.masterHeap}}</td>
              <td>{{view.attributes.memory_heap_used}} MB / {{view.attributes.memory_heap_max}} MB ({{view.attributes.memory_heap_percent_used}}% used)</td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      {{view view.moreStatsView}}
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">
				<h4>Alerts</h4>
			</div>
			<ul class="alerts">
				{{#each controller.content.alerts}}
				<li class="status-{{unbound status}}">
					<p><span class="title">{{title}}</span> <a href="javascript:void(null)">{{service.label}}</a><span class="date-time">{{date}}</span></p>
					<p><span>{{status}}:</span> <span>{{message}}</span></p>
				</li>
				{{/each}}
			</ul>
			<div class="box-footer">
				<hr />
				<a class="go-to" href="javascript:void(null)">Go to Nagios</a>
			</div>
		</div>
	</div>
</div>
