{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div class="row-fluid">
  <div class="span8"><i {{bindAttr class="view.iconClass"}}></i><a>{{view.content.UpgradeGroup.title}}</a></div>

  {{#if view.showProgressBar}}
    <div class="span3">
      <div class="progress progress-striped active">
        <div class="bar" {{bindAttr style="view.progressWidth"}}></div>
      </div>
    </div>
    <div class="span1">
      <div>{{view.progress}}%</div>
    </div>
  {{/if}}
</div>
{{#if view.isInProgress}}
  <div class="box task-details">
    <div>
      {{t admin.stackUpgrade.dialog.inProgress}}&nbsp;
      <a href>{{view.runningItem.UpgradeItem.context}}</a>
    </div>
  </div>
{{/if}}
{{#if view.isFailed}}
  <div class="box task-details">
    <div>
      {{t admin.stackUpgrade.dialog.failed}}&nbsp;
      <a href>{{view.failedItem.UpgradeItem.name}}</a>
    </div>
    <div class="button-row">
      <button class="btn btn-danger">{{t admin.stackUpgrade.dialog.stop}}</button>
      <button class="btn btn-warning">{{t admin.stackUpgrade.dialog.continue}}</button>
      <button class="btn">{{t common.retry}}</button>
    </div>
  </div>
{{/if}}
{{#if view.isManualOpened}}
  <div class="box task-details">
    <p><strong>{{t admin.stackUpgrade.dialog.manual}}</strong></p>
    <div class="message">
      {{view Em.Checkbox checkedBinding="view.isManualDone"}}
      {{t admin.stackUpgrade.dialog.manualDone}}
    </div>
    <div class="button-row">
      <button class="btn btn-danger">{{t admin.stackUpgrade.dialog.stop}}</button>
      <button class="btn btn-success" {{bindAttr disabled="view.isManualProceedDisabled"}}>{{t common.proceed}}</button>
    </div>
  </div>
{{/if}}
