{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="gauge-widget thumbnail">
  {{#if view.isLoaded}}
    <a {{bindAttr class=":corner-icon :span1 view.parentView.isMoving:hidden"}} href="#" {{action hideWidget view.id target="view"}}>
      <i class="icon-remove-sign icon-large"></i>
    </a>
    <div class="caption title span11">{{view.content.widgetName}}</div>
    {{#isAccessible ADMIN}}
      <div class="widget-icons">
        <a class="corner-icon pull-right" href="#" {{action editWidget target="view"}}>
          <i class="icon-edit"></i>
        </a>
        <a class="corner-icon pull-right" href="#" {{action cloneWidget target="view"}}>
          <i class="icon-copy"></i>
        </a>
      </div>
    {{/isAccessible}}
    <div class="content">
      {{#if view.isUnavailable}}
        {{#if view.isOverflowed}}
          <div class="alert alert-warning overflow-warning">
            {{t widget.create.wizard.step2.body.gauge.overflow.warning}}
          </div>
        {{else}}
          <div class="grey unavailable">
            {{t common.na}}
          </div>
        {{/if}}
      {{else}}
        {{view view.chartView}}
      {{/if}}
    </div>
    {{#if view.content.description}}
      <div class="hidden-description">
        {{view.content.description}}
      </div>
    {{/if}}
  {{else}}
    {{view App.SpinnerView}}
  {{/if}}
</div>
