{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div class="row">
  <div class="col-md-6">
    {{#bs-panel heading="Summary" class="panel-summary"}}
      <table class="table no-borders table-condensed">
        <tbody>
        <tr>
          <td>{{t common.status}}</td>
          <td>{{controller.model.displayStatus}}</td>
        </tr>
        <tr>
          <td>{{t common.type}}</td>
          <td>{{controller.appType}}</td>
        </tr>
        <tr>
          <td>{{t common.started}}</td>
          <td>{{formatWordBreak controller.model.started}}</td>
        </tr>
        <tr>
          <td>{{t common.finished}}</td>
          <td>{{formatWordBreak controller.model.ended}}</td>
        </tr>
        <tr>
          <td>{{t common.diagnostics}}</td>
          <td>{{formatWordBreak controller.model.diagnostics devider="."}}</td>
        </tr>
          {{#each controller.model.jmx}}
          <tr>
            <td>{{humanize key}}</td>
            <td>{{formatWordBreak value}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/bs-panel}}
  </div>
  <div class="col-md-6">
    {{#bs-panel heading="Components" class="panel-components"}}
      <table class="table no-borders table-condensed">
        <tbody>
          {{#each controller.model.components}}
          <tr>
            <td><span {{bind-attr class="isRunning:icon-ok-sign:icon-warning-sign :status"}}></span> {{componentName}}</td>
            <td>
              {{#if url}}
                <a {{bind-attr href="url"}} target="_blank">{{host}}</a>
              {{else}}
                {{host}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/bs-panel}}
    <div class="panel panel-default panel-alerts">
      <div class="panel-heading">
        {{t common.alerts}}
        <div class="btn-group pull-right panel-link">
          {{#if App.nagiosHost}}
            <a class="btn btn-default btn-sm" target="_blank" rel="tooltip"
              {{translateAttr title="sliderApp.summary.go_to_nagios"}}
              {{bind-attr href="view.nagiosUrl"}}>
              <i class="icon-link"></i>
            </a>
          {{/if}}
        </div>
      </div>
      <div class="app-alerts">
        <ul>
          {{#each controller.model.alerts}}
            {{#view view.AlertView contentBinding="this"}}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 status-icon">
                    <i {{bind-attr class="iconClass :icon-large"}}></i>
                  </div>
                  <div class="col-md-11">
                    <div class="row">
                      <div class="col-md-7 title">{{title}}</div>
                      <div {{bs-bind-tooltip view.tooltip}} class="col-md-5 date-time">{{timeSinceAlert}}</div>
                    </div>
                    <div class="message">{{message}}</div>
                  </div>
                </div>
              </div>
            {{/view}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{#if controller.model.showMetrics}}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{t common.metrics}}
      <div class="btn-group pull-right panel-link">
        <a class="btn btn-default btn-sm" target="_blank" rel="tooltip"
          {{translateAttr title="sliderApp.summary.go_to_ganglia"}}
          {{bind-attr href="view.gangliaUrl"}}>
          <i class="icon-link"></i>
        </a>
      </div>
    </div>
    <div class="panel-body">
      {{#each graphs in view.graphs}}
        <div class="row">
          {{#each graph in graphs}}
            <div class="col-md-3">{{view graph}}</div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}