{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="select-stack" class="wizard-content col-md-9" {{QAAttr "select-stack-page"}}>
  <h4 class="step-title">{{t installer.configureDownload.header}}</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      {{#if isLoadingComplete}}
      {{! left tabs }}

        {{#if App.router.nextBtnClickInProgress}}
          {{view App.SpinnerView}}
        {{else}}
          <form id="repoVersionInfoForm" class="form-horizontal" role="form" name="localVersionInfoForm" novalidate>

            <div class="panel panel-default repos-panel">
              <div class="step-title">
                <p>{{t installer.configureDownload.body.title}}</p>
              </div>
              <p class="step-description">{{t installer.configureDownload.body.description}}</p>
              <div class="panel-body version-contents-body">
                <div class="row radio-group">
                  {{! Public Repository radio }}
                  <div {{bindAttr class=":col-sm-4 :radio :big-radio :public-radio :wizard-plain-text"}} {{action usePublicRepo target="controller"}}>
                    {{view view.usePublicRepoRadioButton classNames="repo-checkbox" labelIdentifier="use-public-repo"}}
                    <p>{{t installer.configureDownload.publicRepo.hoverDesc}}</p>
                    <i class="icon icon-cloud-download"></i>
                    <div class="repo-group">{{t installer.configureDownload.publicRepo}}</div>
                  </div>
                  {{!--Local repo radio--}}
                  {{!--Not allowing any action on Local Repository for the first iteration. Will use action useLocalRepo later when this option is allowed--}}
                  <div {{bindAttr class=":col-sm-4 :radio :big-radio :local-radio :wizard-plain-text"}}>
                    {{view view.useLocalRepoRadioButton classNames="repo-checkbox" labelIdentifier="use-local-repo"}}
                    <p>{{t installer.configureDownload.localRepo.hoverDesc}}</p>
                    <i class="icon icon-tasks"></i>
                    <div class="repo-group">{{t installer.configureDownload.localRepo}}</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        {{/if}}
      {{else}}
        {{view App.SpinnerView}}
      {{/if}}
    </div>
  </div>
</div>
<div class="wizard-footer col-md-12">
  <button type="button" class="btn btn-default pull-left installer-back-btn" {{bindAttr disabled="App.router.btnClickInProgress"}} {{action back}} {{QAAttr "wizard-back"}}>
    &larr; {{t common.back}}
    {{#if App.router.backBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
  </button>
  <button type="button" class="btn btn-success pull-right" {{bindAttr disabled="view.isSubmitDisabled"}} {{action next}} {{QAAttr "wizard-next"}}>
    {{#if App.router.nextBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
    {{t common.next}} &rarr;
  </button>
</div>
