{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="customMpackRepos" class="wizard-content col-md-9" {{QAAttr "select-stack-page"}}>
  <h4 class="step-header">{{t installer.customMpackRepos.header}}</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      {{#if App.router.nextBtnClickInProgress}}
        {{view App.SpinnerView}}
      {{else}}
        <div class="panel panel-default">
          <div class="step-title">
            <p>{{t installer.customMpackRepos.body.title}}</p>
          </div>
          <p class="step-description">{{t installer.customMpackRepos.body.description}}</p>

          <div class="panel-body version-contents-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-sm-4">{{t common.mpack}}</th>
                  <th class="col-sm-2">{{t common.public}} {{t common.link}}</th>
                  <th class="col-sm-6">{{t common.download}} {{t common.url}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each mpack in mpacks}}
                <tr>
                  <td class="col-sm-4">{{mpack.displayName}}&nbsp;{{mpack.version}}</td>
                  <td class="col-sm-2">
                    <a target="_blank" {{bindAttr href="mpack.publicUrl"}}><span class="glyphicon glyphicon-new-window"></span></a>
                  </td>
                  <td class="col-sm-6">
                    {{view Em.TextField class="form-control required" valueBinding="mpack.downloadUrl"}} <button type="button" {{bindAttr title="view.revertButtonTooltip" value="mpack.id"}} {{action revertUrl target="view"}}><span class="glyphicon glyphicon-repeat" style="transform: scaleX(-1)"></span></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{/if}}

    </div>
  </div>

</div>

<div class="wizard-footer col-md-12">
  <button type="button" class="btn btn-default pull-left installer-back-btn" {{bindAttr disabled="App.router.btnClickInProgress"}} {{action back}} {{QAAttr "wizard-back"}}>
    &larr; {{t common.back}}
    {{#if App.router.backBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
  </button>
  <button type="button" class="btn btn-success pull-right" {{bindAttr disabled="controller.isSubmitDisabled"}} {{action submit target="controller"}} {{QAAttr "wizard-next"}}>
    {{#if App.router.nextBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
    {{t common.next}} &rarr;
  </button>
</div>
