{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="select-mpacks" class="wizard-content col-md-9">
  <h4 class="step-title">{{t installer.selectMpacks.body.header}}</h4>
  {{#if isSaved}}
  <div class="alert alert-warning" role="alert"><strong>{{t common.warning}}:</strong> {{t installer.warning.changes}}</div>
  {{/if}}
  <div class="display-flex">
    <!-- Registry -->
    <div id="registry" class="panel panel-default col-md-8 display-flex direction-col">
      <div class="panel-heading display-flex align-center">
        <div id="useCaseHeader">
        {{#if controller.content.advancedMode}}
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#mpacks" aria-controls="mpacks" role="tab" data-toggle="tab">{{t installer.selectMpacks.body.header.mpacks}}</a>
          </li>
          <li role="presentation">
            <a href="#services" aria-controls="services" role="tab" data-toggle="tab">{{t installer.selectMpacks.body.header.services}}</a>
          </li>
        </ul>
        {{else}}
        <span class="step-description">{{t installer.selectMpacks.body.header.useCases}}</span>
        {{/if}}
        </div>
        <button id="modeButton" class="btn btn-secondary pull-right" {{action toggleMode target="view"}}>
          {{#if controller.content.advancedMode}}
          {{t installer.selectMpacks.basicMode}}
          {{else}}
          {{t installer.selectMpacks.advancedMode}}
          {{/if}}
        </button>
        {{#if controller.content.advancedMode}}
        <span class="more-info" data-toggle="tooltip" data-placement="bottom" {{translateAttr title="installer.selectMpacks.advancedModeHelp" }}></span>        
        {{else}}
        <span class="more-info" data-toggle="tooltip" data-placement="bottom" {{translateAttr title="installer.selectMpacks.basicModeHelp"}}></span>
        {{/if}}
      </div>
      <div class="panel-body tab-content flex-fill">
        {{#if controller.content.advancedMode}}
        <div role="tabpanel" class="tab-pane active" id="mpacks">
          <div class="options-list">
            {{#if controller.content.mpacks}}
            {{#each mpack in controller.content.mpacks}}
            {{view App.WizardMpackView mpackBinding="mpack"}}
            {{/each}}
            {{else}}
            <div class="no-data">{{t installer.selectMpacks.noMpacksAvailable}}</div>
            {{/if}}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="services">
          <div class="options-list">
            {{#if controller.content.mpackServices}} 
            {{#each service in controller.content.mpackServices}}
            {{view App.WizardServiceView serviceBinding="service"}}
            {{/each}}
            {{else}}
            <div class="no-data">{{t installer.selectMpacks.noServicesAvailable}}</div>
            {{/if}}
          </div>
        </div>
        {{else}}
        <div role="tabpanel" class="tab-pane active" id="usecases">
          <div class="options-list">
            {{#if controller.content.mpackUsecases}} 
            {{#each usecase in controller.content.mpackUsecases}}
            {{view App.WizardUsecaseView usecaseBinding="usecase"}}
            {{/each}}
            {{else}}
            <div class="no-data">{{t installer.selectMpacks.noUsecasesAvailable}}</div>
            {{/if}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <!-- Selection -->
    <div class="panel panel-default col-md-4 selected-list display-flex direction-col">
      <div class="panel-heading">{{t installer.selectMpacks.body.selected.header}}&nbsp;({{controller.selectedMpackVersions.length}})</div>
      <div class="panel-body flex-fill">
        {{#if controller.hasSelectedMpackVersions}}
        {{#each mpackVersion in controller.selectedMpackVersions}}
          {{view App.WizardSelectedMpackVersionView mpackVersionBinding="mpackVersion"}}
        {{/each}}
        {{else}}
        {{#if controller.noRecommendationAvailable}}
        <div class="no-data">{{t installer.selectMpacks.noRecommendationAvailable}}</div>
        {{else}}
        <div class="no-data">{{t installer.selectMpacks.noMpacksSelected}}</div>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="wizard-footer col-md-12">
  <button type="button" class="btn btn-default pull-left installer-back-btn" {{bindAttr disabled="App.router.btnClickInProgress"}} {{action back}} {{QAAttr "wizard-back"}}>
    &larr; {{t common.back}}
    {{#if App.router.backBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
  </button>
  <button type="button" class="btn btn-success pull-right" {{bindAttr disabled="controller.isSubmitDisabled"}} {{action submit target="controller"}} {{QAAttr "wizard-next"}}>
    {{#if App.router.nextBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
    {{t common.next}} &rarr;
  </button>
</div>
