<p>Click on the task to see the log:</p>
<div id="host-log">
  {{#each role in view.roles}}
    {{#each taskInfo in role.taskInfos}}
    <div>
      <a {{action toggleTaskLog taskInfo}}>{{#if taskInfo.isLogHidden}}Show{{else}}Hide{{/if}} {{role.roleName}} {{taskInfo.status}} log</a>
      <div {{bindAttr class="taskInfo.isLogHidden:hidden"}}>
        <h5>stderr:</h5>
        <div class="stderr">{{taskInfo.stderr}}</div>
        <h5>stdout:</h5>
        <div class="stdout">{{taskInfo.stdout}}</div>
      </div>
    </div>
    {{/each}}
  {{/each}}
</div>

