{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="select-stack">
  <h2>{{t installer.step1.header}}</h2>
  <p class="alert alert-info">{{t installer.step1.body}}</p>

  <label class="radio big-radio">{{view view.usePublicRepoRadioButton}} {{t installer.step1.selectUseRepoOptions.public}}</label>

    <form {{bindAttr class="optionsToSelect.useLocalRepo.isSelected:disabled :stack-version-selection :row-fluid"}}>
      <div class="span2 left-menu-tabs">
        <ul class="nav nav-tabs tabs-left sideways">
          {{#each stack in view.stackNames}}
            {{#if stack.name}}
              <li {{bindAttr class="stack.isActive:active"}}>
                <a {{bindAttr href="stack.name"}} data-toggle="tab"
                    {{action "selectStackNameOnTab" stack target="view"}}>{{stack.name}}</a></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class="span9 right-stack-info">
        <div class="repo-list-button btn-group">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{controller.selectedStack.repositoryVersion}} &nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu available-repos-dropdown">
            {{#if view.availableStackRepoList}}
              {{#each repo in view.availableStackRepoList}}
                {{#if repo.repositoryVersion}}
                  <li><a {{action "selectRepoInList" repo target="view"}}>{{repo.repositoryVersion}}</a></li>
                {{/if}}
              {{/each}}
            {{else}}
              <li><a class="disabled">{{t installer.step1.usePublicRepo.ReposList.empty}}</a></li>
            {{/if}}
          </ul>
        </div>
        <div class="services-list">
          {{#each service in view.selectedServices}}
            <div class="clearfix row-fluid">
              <label class="control-label span4">{{service.displayName}}</label>
              <div class="version-info span8">{{service.version}}</div>
            </div>
          {{/each}}
        </div>

        {{#if view.showErrorsWarningCount}}
          <span class="badge badge-important pull-right">{{view.totalErrorCnt}}</span>
        {{/if}}
        <a class="view-repos pull-right"{{action "viewRepositories" target="view"}}>{{t installer.step1.usePublicRepo.viewRepos}}</a>
      </div>
    </form>


    {{!--Local repo loaded info below--}}
  <label class="radio big-radio">{{view view.useLocalRepoRadioButton}} {{t installer.step1.selectUseRepoOptions.local}}</label>
  {{#if optionsToSelect.useLocalRepo.isSelected}}
    <div id="upload-definition-file-panel" >
      <div class="clearfix register-version-options row-fluid">
        <div class="span5 option-radio-button">
          <label class="local-option-label radio">
            {{view view.uploadFileRadioButton}} {{t installer.step1.useLocalRepo.uploadFile}}
          </label>
        </div>
        <div class="span7">
          {{#if view.isFileApi}}
            {{view App.VersionDefinitionFileUploader disabledBinding="optionsToSelect.useLocalRepo.enterUrl.isSelected"}}
          {{/if}}
        </div>
      </div>
      <div class="clearfix register-version-options row-fluid">
        <div class="span5 option-radio-button">
          <label class="local-option-label radio">
            {{view view.enterUrlRadioButton}} {{t installer.step1.useLocalRepo.enterUrl}}
          </label>
        </div>
        <div class="span7 vdf-url">
          <div {{bindAttr class="optionsToSelect.useLocalRepo.enterUrl.name optionsToSelect.useLocalRepo.enterUrl.url.hasError:has-error }"}}>
            {{view Ember.TextField valueBinding="optionsToSelect.useLocalRepo.enterUrl.url" disabledBinding="optionsToSelect.useLocalRepo.uploadFile.isSelected"}}
          </div>
        </div>
        <div class="span12 read-info-button">
          <button {{bindAttr class="view.readInfoButtonDisabled:disabled :btn :btn-primary :pull-right"}}
            {{action "readVersionInfo" target="controller"}}> {{t installer.step1.useLocalRepo.readButton}}</button>
        </div>
      </div>
    </div>

  {{#if loadedVersionInfo.stackNameVersion}}
    <form id="localVersionInfoForm" class="form-horizontal" role="form" name="localVersionInfoForm" novalidate>
      <div class="accordion-group details-panel">
        <div class="accordion-heading">
          <p>{{t installer.step1.useLocalRepo.infoForm.details.title}}</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <div class="row-fluid">
                <label class="control-label span3">{{t installer.step1.useLocalRepo.infoForm.details.stackName}}</label>
                <div class="version-info span7">{{loadedVersionInfo.stackNameVersion}}</div>
                {{#if loadedVersionInfo.isPatch}}
                    <div class="span2 patch-icon"><i class="icon-umbrella"></i>&nbsp;{{t common.patch}}</div>
                {{/if}}
            </div>
            <div class="row-fluid">
                <label class="control-label span3">{{t installer.step1.useLocalRepo.infoForm.details.displayName}}</label>
                <div class="version-info span9">{{loadedVersionInfo.displayName}}</div>
            </div>
            <div class="row-fluid">
                <label class="control-label span3">{{t installer.step1.useLocalRepo.infoForm.details.version}}</label>
                <div class="version-info span9">{{loadedVersionInfo.version}}</div>
            </div>
            <div class="row-fluid">
                <label class="control-label span3">{{t installer.step1.useLocalRepo.infoForm.details.actualVersion}}</label>
                <div class="version-info span9">{{loadedVersionInfo.actualVersion}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group contents-panel">
        <div class="accordion-heading">
          <p>{{t installer.step1.useLocalRepo.infoForm.content.title}}</p>
        </div>
        <div class="accordion-body version-contents-body">
          <div class="accordion-inner">
            {{#unless loadedVersionInfo.services}}
              <div class="alert alert-info" role="alert">{{t installer.step1.useLocalRepo.infoForm.content.empty}}</div>
            {{/unless}}
            {{#each service in loadedVersionInfo.services}}
              <div class="clearfix row-fluid">
                <label class="control-label span3">{{service.name}}</label>
                <div class="version-info span9">{{service.version}}</div>
              </div>
            {{/each}}
            </div>
        </div>
      </div>
      <div class="accordion-group repos-panel">
        <div class="accordion-heading">
          <p>{{t common.repositories}}</p>
        </div>
          <div class="accordion-body version-contents-body">
            <div class="accordion-inner">
              <div class="alert alert-info" role="alert">{{t installer.step1.useLocalRepo.infoForm.alert.baseUrl}}</div>
              {{#if view.hasValidationErrors}}
                <div class="alert alert-warning" role="alert">{{t installer.step1.useLocalRepo.infoForm.alert.warning}}</div>
              {{/if}}

              <div class="clearfix repo-table-title row-fluid">
                <div class="span2"><label>{{t common.os}}</label></div>
                <div class="span2"><label>{{t common.name}}</label></div>
                <div class="span7"><label>{{t installer.step1.advancedRepo.localRepo.column.baseUrl}}</label></div>
              </div>

              {{#each operatingSystem in view.operatingSystems}}
                {{#if operatingSystem.isSelected}}
                  <div class="clearfix row-fluid border-bottom">
                    <div class="span2 os-type-label">
                      <label>{{operatingSystem.osType}}</label>
                    </div>
                    <div class="span9">
                      {{#each repository in operatingSystem.repositories}}
                        <div class="repo-name-url row-fluid" {{bindAttr class="repository.hasError:has-error"}} >
                          <label class="repo-name-label control-label span3">{{repository.repoId}}</label>
                          <div class="validation-td span1">
                            {{#if repository.validation}}
                                {{view view.popoverView repositoryBinding="repository"}}
                            {{/if}}
                          </div>
                          <div {{bindAttr class=":span8 :repo-url repository.invalidFormatError:textfield-error repository.invalidError:textfield-error"}}>
                            {{view Ember.TextField valueBinding="repository.baseUrl"}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                    <div class="span1 remove-icon" {{action "removeOS" operatingSystem target="controller"}}><i class="icon-minus"></i>{{t common.remove}}</div>
                  </div>
                {{/if}}
              {{/each}}

              <div class="add-os-button btn-group pull-right">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-plus"></i> {{t common.add}} &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{#each operatingSystem in view.operatingSystems}}
                    {{#unless operatingSystem.isSelected}}
                      <li><a {{action "addOS" operatingSystem target="controller"}}>{{operatingSystem.osType}}</a></li>
                    {{/unless}}
                  {{/each}}
                </ul>
              </div>
              <div id="skip-validation">
                <label>{{view Ember.Checkbox checkedBinding="skipValidationChecked" class="checkbox"}}{{t installer.step1.advancedRepo.skipValidation.message}}
                  <i class="icon-question-sign" rel="skip-validation-tooltip"
                     data-toggle="tooltip" {{translateAttr title="installer.step1.advancedRepo.skipValidation.tooltip"}}></i></label>
              </div>
              <div id="use-redhat">
                <label>{{view Ember.Checkbox classNames="align-checkbox" checkedBinding="useRedhatSatellite"}}{{t installer.step1.advancedRepo.useRedhatSatellite.message}}
                  <i class="icon-question-sign" rel="use-redhat-tooltip"
                    data-toggle="tooltip" {{translateAttr title="installer.step1.advancedRepo.useRedhatSatellite.tooltip"}}>
                  </i>
                </label>
              </div>
            </div>
          </div>
      </div>
    </form>
  {{/if}}
  {{/if}}

  <a class="btn pull-left installer-back-btn" {{action back}}>&larr; {{t common.back}}</a>
  <button class="btn btn-success pull-right" {{bindAttr disabled="view.isSubmitDisabled"}} {{action next}}>{{t common.next}} &rarr;</button>

</div>