{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div id="select-stack">
  <h2>{{t installer.step1.header}}</h2>
  <p class="alert alert-info">{{t installer.step1.body}}</p>

  <label class="radio big-radio">{{view view.usePublicRepoRadioButton}} {{t installer.step1.selectUseRepoOptions.public}}
      {{#unless view.selectedPublicRepoVersion}}
          <a id="public-disabled-link" {{action "openPublicOptionDisabledWindow" target="view"}}>{{t installer.step1.selectUseRepoOptions.public.networkLost}}</a>
      {{/unless}}
  </label>

    <form {{bindAttr class="optionsToSelect.useLocalRepo.isSelected:disabled :stack-version-selection :row-fluid"}}>
      <div class="span3 select-version-label">
        {{t installer.step1.selectUseRepoOptions.public.select}}
      </div>
      <div class="span7 right-stack-info">
        {{#if view.selectedPublicRepoVersion}}
          <div class="repo-list-button btn-group">
            <button type="button" {{bindAttr class="optionsToSelect.useLocalRepo.isSelected:disabled :btn :btn-primary :dropdown-toggle"}} data-toggle="dropdown">
              {{view.selectedPublicRepoVersion.displayName}} &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu available-repos-dropdown">
              {{#if view.availableStackRepoList}}
                {{#each repo in view.availableStackRepoList}}
                  {{#if repo.repositoryVersion}}
                    <li><a {{action "selectRepoInList" repo target="view"}}>{{repo.displayName}}</a></li>
                  {{/if}}
                {{/each}}
              {{else}}
                <li><a class="disabled">{{t installer.step1.usePublicRepo.ReposList.empty}}</a></li>
              {{/if}}
            </ul>
          </div>
        {{else}}
          <button type="button" class="disabled btn btn-primary dropdown-toggle"}} data-toggle="dropdown">
            {{t installer.step1.selectUseRepoOptions.public.networkLost.button}}
          </button>
        {{/if}}
      </div>
    </form>

    {{!--Local repo loaded info below--}}
  <label class="radio big-radio">{{view view.useLocalRepoRadioButton}} {{t installer.step1.selectUseRepoOptions.local}}</label>

    <div id="upload-definition-file-panel" {{bindAttr class="optionsToSelect.usePublicRepo.isSelected:disabled"}}>
      <div class="clearfix register-version-options row-fluid">
        <div class="span5 option-radio-button">
          <label class="local-option-label radio">
            {{view view.uploadFileRadioButton}} {{t installer.step1.useLocalRepo.uploadFile}}
          </label>
        </div>
        <div class="span7">
          {{#if view.isFileApi}}
            {{view App.VersionDefinitionFileUploader disabledBinding="view.fileBrowserDisabled"}}
          {{/if}}
        </div>
      </div>
      <div class="clearfix register-version-options row-fluid">
        <div class="span5 option-radio-button">
          <label class="local-option-label radio">
            {{view view.enterUrlRadioButton}} {{t installer.step1.useLocalRepo.enterUrl}}
          </label>
        </div>
        <div class="span7 vdf-url">
          <div {{bindAttr class="optionsToSelect.useLocalRepo.enterUrl.name optionsToSelect.useLocalRepo.enterUrl.url.hasError:has-error }"}}>
            {{view Ember.TextField valueBinding="optionsToSelect.useLocalRepo.enterUrl.url" placeholderBinding="optionsToSelect.useLocalRepo.enterUrl.placeholder" disabledBinding="view.enterUrlFieldDisabled"}}
          </div>
        </div>
        <div class="span12 read-info-button">
          <button {{bindAttr class="view.readInfoButtonDisabled:disabled :btn :btn-primary :pull-right"}}
            {{action "readVersionInfo" target="controller"}}> {{t installer.step1.useLocalRepo.readButton}}</button>
        </div>
      </div>
    </div>

    <form id="repoVersionInfoForm" class="form-horizontal" role="form" name="localVersionInfoForm" novalidate>
      <div class="accordion-group details-panel">
        <div class="accordion-heading">
          <p>{{t installer.step1.useLocalRepo.infoForm.details.title}}</p>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <div class="row-fluid">
              <div class="span5 version-info-section">
                <div class="row-fluid">
                  <label class="control-label span5">{{t installer.step1.useLocalRepo.infoForm.details.stackName}}</label>
                  <div class="version-info span5">{{controller.selectedStack.stackNameVersion}}</div>
                  {{#if controller.selectedStack.isPatch}}
                      <div class="span2 patch-icon"><i class="icon-umbrella"></i>&nbsp;{{t common.patch}}</div>
                  {{/if}}
                </div>
                <div class="row-fluid">
                  <label class="control-label span5">{{t installer.step1.useLocalRepo.infoForm.details.displayName}}</label>
                  <div class="version-info span7">{{controller.selectedStack.displayName}}</div>
                </div>
                <div class="row-fluid">
                  <label class="control-label span5">{{t installer.step1.useLocalRepo.infoForm.details.version}}</label>
                  <div class="version-info span7">{{controller.selectedStack.repositoryVersion}}</div>
                </div>
              </div>
              <div class="span6 version-contents-section">
                {{#unless view.selectedServices}}
                  <div class="alert alert-info" role="alert">{{t installer.step1.useLocalRepo.infoForm.content.empty}}</div>
                {{/unless}}
                {{#each service in view.selectedServices}}
                  <div class="clearfix row-fluid">
                      <div class="version-info span10">{{service.displayName}} ({{service.version}})</div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group repos-panel">
        <div class="accordion-heading">
          <p>{{t common.repositories}}</p>
        </div>
          <div class="accordion-body version-contents-body">
            <div class="accordion-inner">
              <div class="alert alert-info" role="alert">{{t installer.step1.useLocalRepo.infoForm.alert.baseUrl}}</div>
              {{#if view.hasValidationErrors}}
                <div class="alert alert-warning" role="alert">{{t installer.step1.useLocalRepo.infoForm.alert.warning}}</div>
              {{/if}}

              <div class="clearfix repo-table-title row-fluid">
                <div class="span2"><label>{{t common.os}}</label></div>
                <div class="span2"><label>{{t common.name}}</label></div>
                <div class="span7"><label>{{t installer.step1.advancedRepo.localRepo.column.baseUrl}}</label></div>
              </div>

              {{#each operatingSystem in view.operatingSystems}}
                {{#if operatingSystem.isSelected}}
                  <div class="clearfix row-fluid border-bottom">
                    <div class="span2 os-type-label">
                      <label>{{operatingSystem.osType}}</label>
                    </div>
                    <div class="span9">
                      {{#each repository in operatingSystem.repositories}}
                        <div class="repo-name-url row-fluid" {{bindAttr class="repository.hasError:has-error"}} >
                          <label class="repo-name-label control-label span3">{{repository.repoId}}</label>
                          <div class="validation-td span1">
                            {{#if repository.validation}}
                                {{view view.popoverView repositoryBinding="repository"}}
                            {{/if}}
                          </div>
                          <div {{bindAttr class=":span8 :repo-url repository.invalidFormatError:textfield-error repository.invalidError:textfield-error"}}>
                            {{view Ember.TextField valueBinding="repository.baseUrl" disabledBinding="controller.selectedStack.useRedhatSatellite"}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                    <div {{bindAttr class=":span1 :remove-icon controller.selectedStack.useRedhatSatellite:disabled"}} {{action "removeOS" operatingSystem target="controller"}}><i class="icon-minus"></i>{{t common.remove}}</div>
                  </div>
                {{/if}}
              {{/each}}

              <div class="add-os-button btn-group pull-right">
                <button {{bindAttr class=":btn :dropdown-toggle view.isAddOsButtonDisabled:disabled"}} data-toggle="dropdown">
                  <i class="icon-plus"></i> {{t common.add}} &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{#each operatingSystem in view.operatingSystems}}
                    {{#unless operatingSystem.isSelected}}
                      <li><a {{action "addOS" operatingSystem target="controller"}}>{{operatingSystem.osType}}</a></li>
                    {{/unless}}
                  {{/each}}
                </ul>
              </div>
              <div id="skip-validation" {{bindAttr class="controller.selectedStack.useRedhatSatellite:disabled"}}>
                <label>{{view Ember.Checkbox checkedBinding="skipValidationChecked" disabledBinding="controller.selectedStack.useRedhatSatellite" class="checkbox"}}{{t installer.step1.advancedRepo.skipValidation.message}}
                  <i class="icon-question-sign" rel="skip-validation-tooltip"
                     data-toggle="tooltip" {{translateAttr title="installer.step1.advancedRepo.skipValidation.tooltip"}}></i></label>
              </div>
              <div id="use-redhat">
                <label>{{view Ember.Checkbox classNames="align-checkbox" checkedBinding="controller.selectedStack.useRedhatSatellite"}}{{t installer.step1.advancedRepo.useRedhatSatellite.message}}
                  <i class="icon-question-sign" rel="use-redhat-tooltip"
                    data-toggle="tooltip" {{translateAttr title="installer.step1.advancedRepo.useRedhatSatellite.tooltip"}}>
                  </i>
                </label>
              </div>
            </div>
          </div>
      </div>
    </form>

  <a class="btn pull-left installer-back-btn" {{action back}}>&larr; {{t common.back}}</a>
  <button class="btn btn-success pull-right" {{bindAttr disabled="view.isSubmitDisabled"}} {{action next}}>{{t common.next}} &rarr;</button>

</div>