{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="installOptions">
  <h2>{{t installer.step2.header}}</h2>

  <p class="alert alert-info">{{t installer.step2.body}}</p>

  <div id="targetHosts">
    <h5>{{t installer.step2.targetHosts}}</h5>

    <div {{bindAttr class="hostsError:error :control-group"}}>
      <p>{{t installer.step2.targetHosts.info}}. Or use
        <a href="javascript:void(null)"
           rel="popover"
          {{translateAttr title="installer.step2.hostPattern.tooltip.title" data-content="installer.step2.hostPattern.tooltip.content"}}>
          {{t installer.step2.hostPattern.tooltip.title}}
        </a>
      </p>

      {{#if view.parentView.controller.hideBackButton}}
        {{#if view.hostsInfo.oldHostNames }}
          <p class="alert alert-info">
            {{t hosts.add.step2.warning}}
            <br/>
            {{{view.hostsInfo.oldHostNames}}}
              {{#if view.hostsInfo.showMoreHostsText}}
                <a href="" {{action "showMoreHosts" target="view"}}>{{view.hostsInfo.showMoreHostsText}}</a>
              {{/if}}
          </p>
        {{/if}}
      {{/if}}

      <div class="controls">
        {{view Ember.TextArea class="span6" valueBinding="content.installOptions.hostNames" rows="5" placeholder="host names"}}
        {{#if hostsError}}
        <p class="help-inline">{{hostsError}}</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div id="hostConnectivity">
    <div class="ambari-agents">
      <h5>{{t installer.step2.sshKey}}</h5>

      <label class="checkbox">
        {{view Ember.Checkbox checkedBinding="content.installOptions.useSsh"}}
        {{t installer.step2.useSsh.provide}}
          <a href="javascript:void(null)"
             rel="popover"
            {{translateAttr title="installer.step2.useSsh.tooltip.title" data-content="installer.step2.useSsh.tooltip.content"}}>
              {{t installer.step2.useSsh.tooltip.title}}</a>
          {{t installer.step2.useSsh.provide_id_rsa}}
      </label>

      <div {{bindAttr class="sshKeyError:error :control-group"}}>
        {{#if view.isFileApi}}
          {{view App.SshKeyFileUploader}}
          <pre {{bindAttr class="view.sshKeyPreviewClass"}}>{{content.installOptions.sshKey}}</pre>
        {{/if}}
        <div class="controls">
          {{view Ember.TextArea class="span6" rows="4" classBinding="view.sshKeyClass"  id="sshKey"
          placeholder="ssh private key" disabledBinding="view.sshKeyState" valueBinding="content.installOptions.sshKey"}}
          {{#if sshKeyError}}
          <span class="help-inline">{{sshKeyError}}</span>
          {{/if}}
        </div>
      </div>

    </div>
  </div>

  <div class="advancedOptions">
    <h5>{{t installer.step2.advancedOptions.header}}</h5>

    <label {{bindAttr class=":checkbox"}}>
      {{view Ember.Checkbox checkedBinding="content.installOptions.localRepo"}}

      {{t installer.step2.localRepo.label_use}}

      <a href="javascript:void(null)"
         rel="popover"
        {{translateAttr title="installer.step2.localRepo.tooltip.title" data-content="installer.step2.localRepo.tooltip.content"}}>
        {{t installer.step2.localRepo.tooltip.title}}</a>
      {{t installer.step2.localRepo.label_instead}}
    </label>

    <label {{bindAttr class=":checkbox"}}>
      <div class="java-home">
      {{view Ember.Checkbox checkedBinding="content.installOptions.isJavaHome"}}
        {{t installer.step2.javaHome.label}}
        <a href="javascript:void(null)"
           rel="popover"
          {{translateAttr title="installer.step2.javaHome.tooltip.title" data-content="installer.step2.javaHome.tooltip.content"}}>
            {{t installer.step2.javaHome.tooltip.title}}</a>
        {{t installer.step2.javaHome.label2}}
      </div>
      {{view App.WizardTextField valueBinding="content.installOptions.javaHome" placeholder="/usr/jdk/jdk1.6.0_31"}}
    </label>
  </div>
  <div class="btn-area">
    {{#unless view.parentView.controller.hideBackButton}}
    <a class="btn pull-left" {{action back}}>&larr; Back</a>
    {{/unless}}
    <a class="btn btn-success pull-right" {{bindAttr disabled="isSubmitDisabled"}} {{action evaluateStep target="controller"}}>
      Register and Confirm &rarr;</a>
  </div>

</div>