{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="confirm-hosts">
  <h2>{{t installer.step3.header}}</h2>

  <p class="alert alert-info">{{t installer.step3.body}}</p>
  <div class="box">
    <div class="box-header">
      <div class="button-section">
        <a class="btn btn-primary" {{bindAttr disabled="noHostsSelected"}}
           href="#" {{action removeSelectedHosts target="controller" }}><i
                class="icon-trash icon-white"></i>
          Remove Selected
        </a>
        {{#unless isRetryDisabled}}
        <a class="btn btn-primary decommission"
           href="#" {{action retrySelectedHosts target="controller"}}><i
          class="icon-repeat icon-white"></i>
          Retry Failed
        </a>
        {{/unless}}
        {{#if App.testMode}}
            <a class="btn btn-info"
               href="#" {{action mockBtn target="controller"}}>
                mockData
            </a>
            <a class="btn btn-info"
               href="#" {{action pollBtn target="controller"}}>
                pollData
            </a>
        {{/if}}

        <div id="host-filter" class="pull-right">
          <ul class="clearfix">
            <li class="first">Show:</li>
            {{#each category in controller.categories}}
              <li {{bindAttr class="category.itemClass"}}>
                <a {{action selectCategory category target="controller"}} href="#">
                  {{category.label}}
                </a>
              </li>
              {{#unless category.last}}
                <li>|</li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="pre-scrollable" style="max-height: 440px;">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="span1">{{view Ember.Checkbox checkedBinding="allChecked"}}</th>
          <th class="span3">Host</th>
          <!-- retrieved from local storage initially -->
          <th class="span3">Progress</th>
          <th class="span2">Status</th>
          <!-- given by the parsing function that parses data from bootstrap call, dynamically assign the color -->
          <th class="span3">Action</th>
          <!-- trash icon -->
          <!-- retry icon -->
        </tr>
        </thead>

        <tbody>

        {{#each host in visibleHosts}}
        {{#view App.WizardHostView categoryBinding="controller.category" hostInfoBinding="host"}}
        <td>
          {{view Ember.Checkbox checkedBinding="host.isChecked"}}
        </td>
        <td>
          {{host.name}}
        </td>
        <td>
          <div {{bindAttr class="host.bootBarColor host.isBootDone::progress-striped host.isBootDone::active :progress"}}>
            <div class="bar" style="width:100%">
            </div>
          </div>
        </td>
        <td>
          <a href="javascript:void(null)"
             data-toggle="modal" {{action hostLogPopup host target="controller"}}><span  {{bindAttr class="host.bootStatusColor"}}>{{host.bootStatusForDisplay}}</span></a>
        </td>
        <td>
          {{#if view.isRemovable}}<a class="btn btn-mini" {{action remove target="view"}}><i class="icon-trash"></i>
          Remove</a>{{/if}}
          {{#if view.isRetryable}}<a class="btn btn-mini" {{action retry target="view"}}><i class="icon-repeat"></i>
          Retry</a>{{/if}}
        </td>
        {{/view}}
        {{/each}}

        </tbody>

      </table>
    </div>
    <div class="box-footer">
      <hr/>
      <div class="footer-pagination">
      </div>
    </div>
  </div>
  <div class="btn-area">
    <a class="btn pull-left" {{action back}}>&larr; Back</a>
    <a class="btn btn-success pull-right" {{bindAttr disabled="isSubmitDisabled"}} {{action submit target="controller"}}>Next &rarr;</a>
  </div>
</div>