{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div id="host-warnings">
    <div class="row-fluid">
            <div class="span6">
              {{view Ember.Select
              contentBinding="view.categories"
              selectionBinding="view.category"
              }}
            </div>
        <div class="span3 offset3">
            <a href="javascript.void(0)" title="Show Details" {{action openWarningsInDialog target="view"}} class="task-detail-open-dialog"><i class="icon-external-link"></i> Show Details</a>
        </div>
    </div>
    <div class="content-area">
          <div class="warnings-list">
              <table class="table">
                  <thead>
                  <tr>
                      <th class="category-title" colspan="2">DIRECTORIES & FILES</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each path in view.content.directoriesFiles}}
                  <tr>
                      <td>{{path.name}}</td>
                      <td>
                        <span>
                        {{#if path.isWarn}}
                          <i class="icon-warning-sign"></i>
                        {{else}}
                          <i class="icon-ok"></i>
                        {{/if}}
                        {{path.message}}
                        </span>
                      </td>
                  </tr>
                  {{/each}}
                  </tbody>
              </table>
              <table class="table">
                  <thead>
                  <tr>
                      <th class="category-title" colspan="2">PACKAGES</th>
                  </tr>
                  </thead>
                  <tbody>
                    {{#each package in view.content.packages}}
                    <tr>
                        <td>{{package.name}}</td>
                        <td>
                          <span>
                          {{#if package.isWarn}}
                            <i class="icon-warning-sign"></i>
                          {{else}}
                            <i class="icon-ok"></i>
                          {{/if}}
                          {{package.message}}
                          </span>
                        </td>
                    </tr>
                    {{/each}}
                  </tbody>
              </table>
              <table class="table">
                  <thead>
                  <tr>
                      <th class="category-title" colspan="2">PROCESSES</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#if view.content.processes.length}}
                    {{#each process in view.content.processes}}
                    <tr>
                        <td {{bindAttr title="process.command"}}>{{process.shortCommand}}}</td>
                        <td>
                          <span>
                          {{#if process.isWarn}}
                            <i class="icon-warning-sign"></i>
                          {{else}}
                            <i class="icon-ok"></i>
                          {{/if}}
                          {{process.message}}
                          </span>
                        </td>
                    </tr>
                    {{/each}}
                  {{else}}
                  <tr><td colspan="2">No processes to display</td></tr>
                  {{/if}}
                  </tbody>
              </table>
          </div>
    </div>
</div>
