{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="confirm-hosts">
  <h2>{{t installer.step3.header}}</h2>

  <p class="alert alert-info">{{t installer.step3.body}}</p>
  <div class="box">
    <div class="box-header">
      <div class="button-section">
        <a class="btn btn-primary" {{bindAttr disabled="noHostsSelected"}}
           href="#" {{action removeSelectedHosts target="controller" }}><i
                class="icon-trash icon-white"></i>
          {{t installer.step3.removeSelected}}
        </a>
        {{#unless isRetryDisabled}}
        <a class="btn btn-primary decommission"
           href="#" {{action retrySelectedHosts target="controller"}}><i
          class="icon-repeat icon-white"></i>
          {{t installer.step3.retryFailed}}
        </a>
        {{/unless}}

        <div id="host-filter" class="pull-right">
          <ul class="clearfix">
            <li class="first">{{t common.show}}:</li>
            {{#each category in controller.categories}}
              <li {{bindAttr class="category.itemClass"}}>
                <a {{action selectCategory category target="controller"}} href="#">
                  {{category.label}}
                </a>
              </li>
              {{#unless category.last}}
                <li>|</li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="pre-scrollable" style="max-height: 440px;">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="span1">{{view Ember.Checkbox checkedBinding="allChecked"}}</th>
          <th class="span3">{{t common.host}}</th>
          <!-- retrieved from local storage initially -->
          <th class="span3">{{t common.progress}}</th>
          <th class="span2">{{t common.status}}</th>
          <!-- given by the parsing function that parses data from bootstrap call, dynamically assign the color -->
          <th class="span3">{{t common.action}}</th>
          <!-- trash icon -->
          <!-- retry icon -->
        </tr>
        </thead>

        <tbody>
        {{#each host in hosts}}
        {{#view App.WizardHostView categoryBinding="controller.category" hostInfoBinding="host"}}
        <td>
          {{view Ember.Checkbox checkedBinding="host.isChecked"}}
        </td>
        <td>
          {{host.name}}
        </td>
        <td>
          <div {{bindAttr class="host.bootBarColor host.isBootDone::progress-striped host.isBootDone::active :progress"}}>
            <div class="bar" style="width:100%">
            </div>
          </div>
        </td>
        <td>
          <a href="javascript:void(null)"
             data-toggle="modal" {{action hostLogPopup host target="controller"}}><span  {{bindAttr class="host.bootStatusColor"}}>{{host.bootStatusForDisplay}}</span></a>
        </td>
        <td>
          {{#if view.isRemovable}}<a class="btn btn-mini" {{action remove target="view"}}><i class="icon-trash"></i>
          {{t common.remove}}</a>{{/if}}
          {{#if view.isRetryable}}<a class="btn btn-mini" {{action retry target="view"}}><i class="icon-repeat"></i>
          {{t common.retry}}</a>{{/if}}
        </td>
        {{/view}}
        {{/each}}
        {{#unless visibleHosts.length}}
        <tr>
            <td colspan="5"><p>{{t installer.step3.hosts.noHosts}}</p></td>
        </tr>
        {{/unless}}

        </tbody>

      </table>
    </div>
    <div class="box-footer">
      <hr/>
      <div class="footer-pagination">
      </div>
    </div>
  </div>
    {{#if hasMoreRegisteredHosts}}
        <div {{bindAttr class=":alert alert-warn"}}>
          <a href="#" {{action registeredHostsPopup target="controller"}}>{{view.registeredHostsMessage}}</a>
        </div>
    {{/if}}
      <div {{bindAttr class=":alert view.status isWarningsBoxVisible::hidden"}}>
        {{view.message}}
        <a href="#" {{action hostWarningsPopup warnings target="controller"}}>{{view.linkText}}</a>
        {{#unless isWarningsLoaded}}
          <div class="spinner"></div>
        {{/unless}}
      </div>
  <div class="btn-area">
    <a class="btn pull-left" {{bindAttr disabled="isRegistrationInProgress"}} {{action back target="controller"}}>&larr; {{t common.back}}</a>
    <a class="btn btn-success pull-right" {{bindAttr disabled="isSubmitDisabled"}} {{action submit target="controller"}}>{{t common.next}} &rarr;</a>
  </div>
</div>