{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div id="host-warnings">
  <div class="notice">
    <span>{{t installer.step3.hostWarningsPopup.notice}}</span>
  </div>
  <div class="row-fluid">
    <div class="span7">
      {{t common.hosts}}&nbsp;{{view Ember.Select
              contentBinding="view.categories"
              selectionBinding="view.category"
              }}
    </div>
    <div class="span3 offset2">
      <a href="javascript.void(0)" title="Show Details" {{action openWarningsInDialog target="view"}}
         class="task-detail-open-dialog"><i
              class="icon-external-link"></i> {{t installer.step3.hostWarningsPopup.details}}</a>
    </div>
  </div>
  <div class="summary">
    <span>
      {{#if view.warnings.length}}
        <i class="icon-warning-sign"></i>
      {{else}}
        <i class="icon-ok"></i>
      {{/if}}
      &nbsp;{{view.warningsSummary}}</span>
  </div>
  <div class="content-area">
    <div class="warnings-list">
      {{#each category in view.content}}
        <div class="block">
          <div class="title">
            {{#if category.warnings.length}}
            <i class="icon-warning-sign"></i>
            {{else}}
            <i class="icon-ok"></i>
            {{/if}}
            &nbsp;{{category.warnings.length}} {{category.title}}</div>
          {{#if category.warnings.length}}
          <table>
            <thead>
            <tr>
              <th colspan="2">{{category.message}}</th>
            </tr>
            <tr>
              <th colspan="2"><b>{{category.type}}</b></th>
            </tr>
            </thead>
            <tbody>
            {{#each warning in category.warnings}}
              <tr>
                <td>{{warning.name}}</td>
                <td>{{t installer.step3.hostWarningsPopup.exist}}
                  <a>
                    {{warning.hosts.length}}
                    {{#if warning.onSingleHost}}
                      {{t installer.step3.hostWarningsPopup.host}}
                    {{else}}
                      {{t installer.step3.hostWarningsPopup.hosts}}
                    {{/if}}
                  </a>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
