{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="installOptions" class="wizard-content col-md-9" xmlns="http://www.w3.org/1999/html">
  <h4 class="step-header">{{t installer.step2.header}}</h4>
  {{#if isSaved}}
  <div class="alert alert-warning" role="alert"><strong>{{t installer.warning.changes.header}}</strong> {{t installer.warning.changes}}</div>
  {{/if}}

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="step-description">
        <div>{{t installer.step2.registration.body1}}</div>
        {{t installer.step2.registration.body2}}
      </div>
      <div class="row radio-button-options">
        <div {{bindAttr class=":col-sm-4 :radio :big-radio :manual-radio :public-radio :wizard-plain-text controller.content.installOptions.manualInstall:repo-selected:repo-not-selected"}} {{action useManualInstall target="controller"}}>
          {{#view view.manualRegistrationRadioButton classNames="repo-checkbox" labelIdentifier="manual-registration-radio-button"}}{{/view}}
          <i class="icon icon-edit"></i>
          <div class="repo-group">
            {{t installer.step2.manualInstall}}
          </div>
        </div>
        <div {{bindAttr class=":col-sm-4 :radio :big-radio :ssh-radio :public-radio :wizard-plain-text controller.content.installOptions.useSsh:repo-selected:repo-not-selected"}} {{action useSshRegistration target="controller"}}>
          {{#view view.providingSSHKeyRadioButton classNames="repo-checkbox" labelIdentifier="ssh-key-radio-button"}}{{/view}}
          <i class="icon icon-lock"></i>
          <div class="repo-group">
            {{#if useSSH}}
              {{t installer.step2.useSsh}}
            {{else}}
              {{t installer.step2.automaticInstall}}
            {{/if}}
          </div>
        </div>
      </div>

      <div id="targetHosts" {{QAAttr "target-hosts"}} {{bindAttr class="controller.content.installOptions.useSsh:display:noDisplay"}}>
        <div class="step-title" {{QAAttr "target-hosts-title"}}>{{t installer.step2.enterHosts}}</div>
        <div {{bindAttr class="hostsError:has-error :form-group :target-hosts-input"}}>
          <p class="step-description" {{QAAttr "target-hosts-description"}}>{{t installer.step2.enterHosts.info}}. {{t installer.step2.orUse}}
            <a href="javascript:void(null)"
               rel="popover"
              {{translateAttr title="installer.step2.hostPattern.tooltip.title" data-content="installer.step2.hostPattern.tooltip.content"}}
              {{QAAttr "pattern-expressions-link"}}>
              <span {{QAAttr "pattern-expressions-link-text"}}>{{t installer.step2.hostPattern.tooltip.title}}</span>
            </a>
          </p>

          <div class="row display-flex">
            <div class="col-md-7">
              {{view Ember.TextArea id="host-names" class="form-control" valueBinding="content.installOptions.hostNames"
              rows="5" placeholder="Type or paste hosts here..." data-qa="target-hosts-textarea"}}
            </div>
            <i class="icon-ellipsis-vertical"></i>
            <div class="col-md-7">
              {{view Ember.TextArea id="parsed-host-names" disabled=true class="form-control" valueBinding="parsedHostsText" rows="5"}}
            </div>
            {{#if hostsError}}
              <div class="col-md-4">
                <p class="help-block validation-block" {{QAAttr "host-names-validation"}}>{{hostsError}}</p>
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div {{QAAttr "host-registration-info"}} {{bindAttr class="controller.content.installOptions.useSsh:display:noDisplay"}}>

        {{#if useSSH}}
          <div class="ssh-key-input">
            {{#if view.isFileApi}}
              <div>
                {{view App.SshKeyFileUploader disabledBinding="view.sshKeyState"}}
              </div>
            {{/if}}

            {{! ssh key }}
            <div {{bindAttr class="sshKeyError:has-error :form-group :row"}}>
              <div class="col-md-8">
                {{view Ember.TextArea class="form-control" rows="3" id="sshKey"
                placeholder="ssh private key" disabledBinding="view.sshKeyState"
                valueBinding="content.installOptions.sshKey" data-qa="ssh-key-textarea"}}
              </div>
              {{#if sshKeyError}}
                <div class="col-md-4">
                  <span class="help-block validation-block" {{QAAttr "ssh-key-validation"}}>{{sshKeyError}}</span>
                </div>
              {{/if}}
            </div>
            {{! ssh key end }}

            {{! ssh user }}
            <div {{bindAttr class="sshUserError:has-error :row"}}>
              <div class="col-md-4">
                <label rel="tooltip" {{translateAttr title="installer.step2.sshUser.toolTip"}} class="ssh-user wizard-plain-text">
                  {{t installer.step2.sshUser}}
                </label>
              </div>
              <div {{bindAttr class="sshUserError:has-error :form-group :col-md-4"}}>
                {{view view.textFieldView valueBinding="content.installOptions.sshUser" isEnabledBinding="content.installOptions.useSsh" classNames="form-control pull-right" data-qa="ssh-user-input"}}
              </div>
              {{#if sshUserError}}
                <div class="col-md-4">
                  <span class="help-block validation-block help-inline">{{sshUserError}}</span>
                </div>
              {{/if}}
            </div>
            {{! ssh user end }}

            {{! ssh port }}
            <div {{bindAttr class="sshPortError:has-error :row"}}>
              <div class="col-md-4">
                <label rel="tooltip" {{translateAttr title="installer.step2.sshPort.toolTip"}} class="ssh-port wizard-plain-text">
                  {{t installer.step2.sshPort}}
                </label>
              </div>
              <div class="form-group col-md-4">
                {{view view.textFieldView valueBinding="content.installOptions.sshPort" isEnabledBinding="content.installOptions.useSsh" classNames="form-control"}}
              </div>
              {{#if sshPortError}}
                <div class="col-md-4">
                  <span class="help-block validation-block help-inline">{{sshPortError}}</span>
                </div>
              {{/if}}
            </div>
            {{! ssh port end }}

            {{! ambari agent user }}
            {{#if App.supports.customizeAgentUserAccount}}
              <div {{bindAttr class="agentUserError:has-error :row"}}>
                <div class="col-md-4">
                  <label rel="tooltip" {{translateAttr title="installer.step2.agentUser.toolTip"}} class="ssh-user wizard-plain-text">
                    {{t installer.step2.agentUser}}
                  </label>
                </div>
                <div {{bindAttr class="agentUserError:has-error :form-group :col-md-4"}}>
                  {{view view.textFieldView valueBinding="content.installOptions.agentUser" isEnabledBinding="content.installOptions.useSsh" classNames="form-control"}}
                </div>
                {{#if agentUserError}}
                  <div class="col-md-4">
                    <span class="help-block validation-block help-inline">{{agentUserError}}</span>
                  </div>
                {{/if}}
              </div>
            {{/if}}
            {{! ambari agent user end }}
          </div>
        {{/if}}
      </div>
      <div {{bindAttr class="controller.content.installOptions.manualInstall:display:noDisplay"}}>
        <div class="hosts-table-options">
          <div {{bindAttr class=":left :host-count controller.noPreRegisteredHosts:noDisplay:display"}}>{{{controller.preRegisteredHostFound}}}</div>
          <button {{action getManuallyInstalledHosts target="controller"}} class="btn btn-default pull-right"><i class="icon-undo"></i> {{t installer.step2.refresh.table}}</button>
          <div {{bindAttr class=":hosts-filter-box :pull-right controller.noPreRegisteredHosts:noDisplay:display"}}>
            {{view Em.TextField valueBinding="controller.filterText" class="form-control" placeholder="Filter"}}
          </div>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="col-md-6">{{t common.host}}</th>
            <th class="col-md-2">{{t common.cores}}</th>
            <th class="col-md-2">{{t common.freeStorage}}</th>
            <th class="col-md-2">{{t common.memory}}</th>
            <th class="col-md-2">{{t common.actions}}</th>
          </tr>
          </thead>
          <tbody>
          {{#if noPreRegisteredHosts}}
            <tr class="no-pre-registered">
              <td colspan="5">
                <p class="no-host-header">{{t common.noHostsFound}}</p>
                <p style="font-size: 12px;">{{t installer.step2.noHostsFound.header}}</p>
                <p>{{t installer.step2.noHostsFound.step1}}</p>
                <p>{{t installer.step2.noHostsFound.step2}}</p>
                <p>{{t installer.step2.noHostsFound.step3}}</p>
                <p>{{t installer.step2.noHostsFound.step4}}</p>
                <p>{{{t installer.step2.noHostsFound.learn}}}</p>
              </td>
            </tr>
          {{else}}
            {{#each host in manuallyInstalledHosts}}
              <tr class="pre-registered" {{bindAttr id="host.hostName"}}>
                <td>{{host.hostName}}</td>
                <td>{{host.cpuCount}}</td>
                <td>{{host.freeSpace}}</td>
                <td>{{host.memory}}</td>
                <td><a><i class="icon-remove-sign" {{action deleteRegisteredHost host.hostName target="controller"}}></i></a></td>
              </tr>
            {{/each}}
          {{/if}}
          </tbody>
        </table>
      </div>
      {{#if isAddHostWizard}}
        <br>
        {{view view.skipHostsCheckBox checkedBinding="content.installOptions.skipHostChecks"}}
        {{t installer.step2.skipHostChecks.label}}
      {{/if}}
    </div>
  </div>
</div>

<div class="wizard-footer col-md-12">
  <div class="btn-area">
    {{#unless view.parentView.controller.hideBackButton}}
      <button class="btn btn-default pull-left installer-back-btn" {{action back}} {{bindAttr disabled="App.router.btnClickInProgress"}} {{QAAttr "wizard-back"}}>
        &larr; {{t common.back}}
        {{#if App.router.backBtnClickInProgress}}
          {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
        {{/if}}
      </button>
    {{/unless}}
    <button class="btn btn-success pull-right" {{bindAttr disabled="isSubmitDisabled"}} {{action evaluateStep target="controller"}} {{QAAttr "wizard-next"}}>
      {{#if App.router.nextBtnClickInProgress}}
        {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
      {{/if}}
      {{t installer.step2.registerAndConfirm}} &rarr;
    </button>
  </div>
</div>
