{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div id="verifyProductRepos" class="wizard-content col-md-9" {{QAAttr "select-stack-page"}}>
  <h4 class="step-title">{{t installer.verifyProducts.header}}</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      {{#if App.router.nextBtnClickInProgress}}
      {{view App.SpinnerView}}
      {{else}}
      <p class="step-description">{{t installer.customProductRepos.body.description}}</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-sm-3">{{t common.mpack}}</th>
              <th class="col-sm-1">{{t common.operatingSystem}}</th>
              <th class="col-sm-3">{{t common.repository}}</th>
              <th class="col-sm-3">{{t common.status}}</th>
              <th class="col-sm-2">{{t common.actions}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each mpack in mpacks}} 
              {{#each os in mpack.operatingSystems}} 
                {{#if os.selected}} 
                  {{#each repo in os.repos}}
                  <tr {{bindAttr class="os.isFirstSelected:mpack-firstOs repo.isFirst:os-firstRepo" }}>
                    {{#if os.isFirstSelected}} 
                      {{#if repo.isFirst}}
                      <td class="col-sm-3">{{mpack.displayName}}&nbsp;{{mpack.version}}</td>
                      {{else}}
                      <td class="col-sm-3"></td>
                      {{/if}} 
                    {{else}}
                    <td class="col-sm-3"></td>
                    {{/if}} 
                    {{#if repo.isFirst}}
                    <td class="col-sm-1">{{os.type}}</td>
                    {{else}}
                    <td class="col-sm-1"></td>
                    {{/if}}
                    <td class="col-sm-3">{{repo.repoId}}</td>
                    <td class="download-status col-sm-3">
                      {{#if repo.inProgress}}
                        <div class="progress-wrapper">
                          <div class="progress">
                            <div class="active progress-bar-striped progress-bar"}}></div>
                          </div>
                        </div>
                      {{else}}
                        {{#if repo.succeeded}}
                          <i class="icon icon-ok-sign"></i>&nbsp;
                          {{t common.verification}}&nbsp;{{t common.complete}}
                        {{else}}
                          <i class="icon icon-remove-sign"></i>&nbsp;
                          {{t common.verification}}&nbsp;{{t common.failed}}
                        {{/if}}
                      {{/if}}
                    </td>
                    <td class="col-sm-2">
                      <span data-toggle="tooltip" data-placement="bottom" {{translateAttr title="common.retry"}}>
                        <button type="button" class="icon-button retry-button" {{bindAttr disabled="repo.succeeded"}} {{action retryVerifyRepo repo target="controller"}}></button>
                      </span>
                    </td>
                  </tr>
                  {{/each}} 
                {{/if}} 
              {{/each}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </div>
</div>

<div class="wizard-footer col-md-12">
  <button type="button" class="btn btn-default pull-left installer-back-btn" {{bindAttr disabled="App.router.btnClickInProgress"}} {{action backTransition}} {{QAAttr "wizard-back"}}>
    &larr; {{t common.back}}
    {{#if App.router.backBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
  </button>
  <button type="button" class="btn btn-success pull-right" {{bindAttr disabled="controller.isSubmitDisabled"}} {{action submit target="controller"}} {{QAAttr "wizard-next"}}>
    {{#if App.router.nextBtnClickInProgress}}
      {{view App.SpinnerView tagName="span" classNames="service-button-spinner"}}
    {{/if}}
    {{t common.next}} &rarr;
  </button>
</div>
