{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="option">
  <div class="option-title">
    <p>{{mpackVersion.mpack.displayName}} {{mpackVersion.version}}</p>
  </div>
  {{#if controller.content.advancedMode}}
  <button class="option-remove-button" {{action removeMpack mpackVersion.id target="view" }}></button>
  {{/if}}
  <div class="option-body">
  {{#each service in mpackVersion.services}}
    {{#if service.selected}}
      {{#if controller.content.advancedMode}}
      <button class="capsule capsule-selected" {{action removeService service.id target="view"}}>
        {{service.name}}&nbsp;{{service.version}}&nbsp;<i class="icon icon-remove"></i>
      </button>
      {{else}}
      <button class="capsule capsule-selected">
        {{service.name}}&nbsp;{{service.version}}
      </button>
      {{/if}}
    {{/if}}
  {{/each}}
  </div>
</div>
