{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#if view.expression.editMode}}
  <div class="metric-field">
    {{#each element in view.expression.data}}
      <div class="metric-instance" {{bindAttr id="element.id"}}>{{element.name}}
        <a href="#" {{action removeElement element target="view"}}><i class="icon-remove"></i></a>
      </div>
    {{/each}}
  </div>
  <div class="pull-left">
    <button class="btn btn-primary" {{action addMetric target="view"}}>{{t dashboard.widgets.wizard.step2.newMetric}}</button>
    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        {{t dashboard.widgets.wizard.step2.newOperator}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {{#each operator in view.OPERATORS}}
          <li><a href="#" {{action addOperator operator target="view"}}>{{operator}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div {{bindAttr class="view.isInvalid:is-invalid :controls"}}>
    <button class="btn" {{action cancelEdit target="view"}}>{{t common.reset}}</button>
    <button class="btn btn-primary" {{action saveMetrics target="view"}} {{bindAttr disabled="view.isInvalid"}}>{{t common.done}}</button>
  </div>
{{else}}
  <a {{action startEdit target="view"}} class="edit-link"><i class="icon-edit"></i></a>
  {{#if view.expression.isRemovable}}
    <a {{action removeExpression view.expression target="controller"}} class="remove-link"><i class="icon-trash"></i></a>
  {{/if}}
  {{#if view.expression.data.length}}
    <div class="metric-field">
      {{#each element in view.expression.data}}
        <div class="metric-instance">{{element.name}}</div>
      {{/each}}
    </div>
  {{else}}
    <div class="placeholder">{{t dashboard.widgets.wizard.step2.addMetrics}}</div>
  {{/if}}
{{/if}}
