{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row-fluid">
  <div class="span3">{{t dashboard.widgets.wizard.step2.Component}}</div>
  <div class="btn-group component-select span5">
    {{#if view.selectedComponent}}
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        {{view.selectedComponent.displayName}}<span class="caret pull-right"></span>
      </button>
    {{else}}
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        {{t dashboard.widgets.wizard.step2.selectComponent}}<span class="caret pull-right"></span>
      </button>
    {{/if}}
    <ul class="dropdown-menu accordion" id="accordion2">
      {{#each service in view.componentMap}}
        <li class="accordion-group keep-open">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" {{bindAttr href="service.href"}}>
              <i class="icon-caret-down"></i><i class="icon-caret-right"></i>{{service.displayName}}
            </a>
          </div>
          <div {{bindAttr id="service.serviceName"}} class="accordion-body collapse">
            <ul class="accordion-inner">
              {{#each component in service.components}}
                <li>
                  <a href="#" {{action selectComponents component target="view"}}> {{component.displayName}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">{{t dashboard.widgets.wizard.step2.Metric}}</div>
  <div class="span9">
    <select class="chosen-select">
      {{#each metric in view.selectedComponent.metrics}}
        <option>{{unbound metric}}</option>
      {{/each}}
    </select>
  </div>
</div>
