{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>INFORMATION</th>
      <th>VALUE</th>
    </tr>
    </thead>
    {{#with table.detailedInfo as |info|}}
      <tbody>
        <tr>
          <th>Database Name</th>
          <td>{{info.dbName}}</td>
        </tr>
        <tr>
          <th>Owner</th>
          <td>{{info.owner}}</td>
        </tr>
        <tr>
          <th>Create Time</th>
          <td>{{info.createTime}}</td>
        </tr>
        <tr>
          <th>Last Access Time</th>
          <td>{{info.lastAccessTime}}</td>
        </tr>
        <tr>
          <th>Retention</th>
          <td>{{info.retention}}</td>
        </tr>
        <tr>
          <th>Table Type</th>
          <td>{{info.tableType}}</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>{{info.location}}</td>
        </tr>
        <tr>
          <th>Parameters</th>
          <td><pre class="table-info-json">{{to-json info.parameters}}</pre></td>
        </tr>
      </tbody>
    {{/with}}

  </table>
</div>