{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div id="config_history_flow" {{bindAttr class="view.parentView.supportsConfigLayout:with-enhanced-config"}}>
  <div class="version-slider">
    <div {{bindAttr class=":icon-chevron-box :pull-left view.showLeftArrow::disabled"}} {{action shiftBack target="view"}} data-toggle="arrow-tooltip"
      {{bindAttr data-original-title="view.leftArrowTooltip"}}><i class="icon-chevron-left icon-3x"></i></div>
    <div {{bindAttr class=":icon-chevron-box :pull-left view.showRightArrow::disabled"}} {{action shiftForward target="view"}} data-toggle="arrow-tooltip"
      {{bindAttr data-original-title="view.rightArrowTooltip"}}><i class="icon-chevron-right icon-3x"></i></div>
    {{#each sV in view.visibleServiceVersion}}
      {{view App.ConfigsServiceVersionBoxView serviceVersionBinding="sV"}}
    {{/each}}

  </div>
  <div class="version-info-bar-wrapper">
    {{#isAuthorized "SERVICE.COMPARE_CONFIGS"}}
      <div {{bindAttr class="view.showCompareVersionBar::hidden :version-info-bar"}}>
        <div class="row-fluid">
          <div class="span1 remove-compare-bar" {{action removeCompareVersionBar target="view"}} data-toggle="arrow-tooltip" {{translateAttr data-original-title="services.service.config.configHistory.dismissIcon.tooltip"}}>
            <i class="icon-remove-circle icon-large"></i>
          </div>
          <div class="label-wrapper span8" data-toggle="tooltip" {{bindAttr data-original-title="view.compareServiceVersion.fullNotes"}}>
            {{t services.service.config.configHistory.comparing}}
            <span class="label label-info current-version-label">{{view.displayedServiceVersion.versionText}}</span>
            ...
            <span class="label label-info compare-version-label">{{view.compareServiceVersion.versionText}}</span>
            {{#if view.compareServiceVersion.isCurrent}}
              <span class="label label-success">{{t common.current}}</span>
            {{/if}}
              <strong>{{view.compareServiceVersion.authorFormatted}}</strong>&nbsp;{{t dashboard.configHistory.info-bar.authoredOn}}
              &nbsp;<strong>{{view.compareServiceVersion.createdDate}}</strong>
          </div>
          {{#isAuthorized "SERVICE.MODIFY_CONFIGS"}}
            <div class="pull-right operations-button">
              <button class="btn btn-success"  {{action doAction view.serviceVersionsReferences.compare view.actionTypes.REVERT target="view"}} {{bindAttr disabled="view.versionActionsDisabled" class="view.compareServiceVersion.canBeMadeCurrent::hidden"}}>{{view.compareServiceVersion.makeCurrentButtonText}}</button>
            </div>
          {{/isAuthorized}}
        </div>
      </div>
    {{/isAuthorized}}
    {{#view App.ConfigHistoryDropdownSubMenuView id="config_version_popup"}}
      {{#if view.parentView.hoveredServiceVersion}}
        <div class="content">
          <span class="label label-info">{{view.parentView.hoveredServiceVersion.versionText}}</span>
          <span class="stack">{{view.parentView.hoveredServiceVersion.stackVersion}}</span>
          <div class="group"><strong>{{view.parentView.hoveredServiceVersion.configGroupName}}</strong></div>
          <div class="date"><strong>{{view.parentView.hoveredServiceVersion.authorFormatted}}</strong>&nbsp;{{t dashboard.configHistory.info-bar.authoredOn}}&nbsp;<strong>{{view.parentView.hoveredServiceVersion.createdDate}}</strong></div>
          <div class="notes">{{view.parentView.hoveredServiceVersion.fullNotes}}</div>
        </div>
        <div class="version-operations-buttons">
          <button {{bindAttr disabled="view.parentView.hoveredServiceVersion.disabledActionAttr.view" class=":btn view.parentView.hoveredServiceVersion.isDisplayed:not-allowed-cursor" title="view.parentView.hoveredServiceVersion.disabledActionMessages.view"}} {{action doAction undefined view.parentView.actionTypes.SWITCH target="view.parentView"}}><i class="icon-search"></i>&nbsp;{{t common.view}}</button>
          {{#isAuthorized "SERVICE.COMPARE_CONFIGS"}}
            <button {{bindAttr disabled="view.parentView.hoveredServiceVersion.disabledActionAttr.compare" class=":btn view.parentView.hoveredServiceVersion.isDisplayed:not-allowed-cursor" title="view.parentView.hoveredServiceVersion.disabledActionMessages.compare"}} {{action doAction undefined view.parentView.actionTypes.COMPARE target="view.parentView"}}><i class="icon-copy"></i>&nbsp;{{t common.compare}}</button>
          {{/isAuthorized}}
          {{#isAuthorized "SERVICE.MODIFY_CONFIGS"}}
            <button {{bindAttr disabled="view.parentView.hoveredServiceVersion.disabledActionAttr.revert" class=":btn view.parentView.hoveredServiceVersion.isCurrent:not-allowed-cursor view.parentView.hoveredServiceVersion.isCompatible::hidden" title="view.parentView.hoveredServiceVersion.disabledActionMessages.revert"}} {{action doAction undefined view.parentView.actionTypes.REVERT target="view.parentView"}}>{{t dashboard.configHistory.info-bar.revert.button}}</button>
          {{/isAuthorized}}
        </div>
      {{/if}}
    {{/view}}
    <div class="version-info-bar">
      <div class="row-fluid">
        <div class="btn-group pull-left">
          <button id="toggle-dropdown-button" class="btn dropdown-toggle" data-toggle="dropdown" href="#" {{action hideFullList target="view"}} {{bindAttr disabled="view.versionActionsDisabled"}}>
            <i class="icon-random"></i>
            <span class="caret"></span>
          </button>
          <div id="dropdown_content" class="dropdown-menu">
            <div id="dropdown_outer_container">
              <div id="dropdown_inner_container">
                <div id="dropdown_menu_container">
                  <ul id="dropdown_menu">
                    {{#each serviceVersion in view.dropDownList}}
                      {{view App.ConfigHistoryDropdownRowView serviceVersionBinding="serviceVersion"}}
                    {{/each}}

                    {{#unless view.showFullList}}
                      <li class="align-center pointer" id="show_more">
                        <a {{action openFullList target="view"}}>
                          {{t dashboard.configHistory.info-bar.showMore}}&nbsp;{{view.displayName}}
                          &nbsp;<span class="lowercase ellipsis">{{t dashboard.configHistory.title}}</span>
                        </a>
                      </li>
                    {{/unless}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="label-wrapper span8" data-toggle="tooltip" {{bindAttr data-original-title="view.displayedServiceVersion.fullNotes"}}>
          {{#if view.displayedServiceVersion.versionText}}
            <span class="label label-info current-version-label">{{view.displayedServiceVersion.versionText}}</span>
          {{/if}}
          {{#if view.displayedServiceVersion.isCurrent}}
              <span class="label-current label label-success icon-ok" data-toggle="tooltip" {{translateAttr title="common.current"}}></span>
          {{/if}}
          {{#if view.displayedServiceVersion.author}}
            <strong>{{view.displayedServiceVersion.author}}</strong>&nbsp;{{t dashboard.configHistory.info-bar.authoredOn}}&nbsp;<strong>{{view.displayedServiceVersion.createdDate}}</strong>
          {{/if}}
        </div>
        {{#isAuthorized "SERVICE.MODIFY_CONFIGS"}}
          <div class="pull-right operations-button">
            <div {{bindAttr class="view.displayedServiceVersion.isCurrent::hidden"}}>
              <button class="btn" {{action doCancel target="controller"}} {{bindAttr disabled="view.isDiscardDisabled"}}>{{t common.discard}}</button>
              <button class="btn btn-success" {{action save target="view"}} {{bindAttr disabled="view.isSaveDisabled"}}>{{t common.save}}</button>
            </div>
            <button class="btn btn-success"  {{action doAction view.serviceVersionsReferences.displayed view.actionTypes.REVERT target="view"}} {{bindAttr disabled="view.versionActionsDisabled" class="view.displayedServiceVersion.canBeMadeCurrent::hidden"}}>{{view.displayedServiceVersion.makeCurrentButtonText}}</button>
          </div>
        {{/isAuthorized}}
      </div>
    </div>
  </div>
</div>
