{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div id="config_history_flow" {{bindAttr class="view.showCompareVersionBar:two-stories-bar:one-story-bar"}}>
  <div class="version-slider">
    <div {{bindAttr class=":icon-chevron-box :pull-left view.showLeftArrow::hide"}} {{action shiftBack target="view"}} data-toggle="arrow-tooltip"
      {{translateAttr data-original-title="services.service.config.configHistory.leftArrow.tooltip"}}><i class="icon-chevron-left icon-3x"></i></div>
    {{#each serviceVersion in view.visibleServiceVersion}}
      <div {{bindAttr class=":flow-element :pull-left serviceVersion.first:first"}}>
        <div class="arrow-box pull-left"><i class="icon-arrow-right icon-3x"></i></div>
        <div class="version-box">
          <div {{bindAttr class=":version-info :box :pull-right serviceVersion.isDisplayed:displayed serviceVersion.isDisabled:grayedOut"}} {{action switchVersion serviceVersion target="view"}}>
            <div class="top-label">
              <span class="label label-info">{{serviceVersion.versionText}}</span>
              {{#if serviceVersion.isCurrent}}
                <span class="label label-success">
                {{t common.current}}
                <i {{bindAttr class=":icon-refresh :restart-required-service view.serviceVersion.isRestartRequired::hidden"}}></i>
              </span>
              {{/if}}
            </div>
              <div class="content">{{serviceVersion.author}}</div>
              <div class="content">{{serviceVersion.modifiedDate}}</div>
          </div>

          <div class="version-popover">
            <div class="content"> <strong>{{serviceVersion.displayName}}</strong> <span class="label label-info">{{serviceVersion.versionText}}</span> &nbsp;
              <strong>{{t services.service.config.configHistory.configGroup}}:{{serviceVersion.configGroupName}}</strong>
              <div class="notes">{{serviceVersion.briefNotes}}</div>
            </div>
            <div class="version-operations-buttons">
                <button {{bindAttr disabled="serviceVersion.disabledActionAttr.view" class=":btn serviceVersion.isDisplayed:not-allowed-cursor" title="serviceVersion.disabledActionMessages.view"}} {{action switchVersion serviceVersion target="view"}}><i class="icon-search"></i>&nbsp;{{t common.view}}</button>
                <button {{bindAttr disabled="serviceVersion.disabledActionAttr.compare" class=":btn serviceVersion.isDisplayed:not-allowed-cursor" title="serviceVersion.disabledActionMessages.compare"}} {{action compare serviceVersion target="view"}}><i class="icon-copy"></i>&nbsp;{{t common.compare}}</button>
                <button {{bindAttr disabled="serviceVersion.disabledActionAttr.revert" class=":btn serviceVersion.isCurrent:not-allowed-cursor" title="serviceVersion.disabledActionMessages.revert"}} {{action revert serviceVersion target="view"}}>{{t dashboard.configHistory.info-bar.revert.button}}</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    <div {{bindAttr class=":icon-chevron-box :pull-right view.showRightArrow::hide"}} {{action shiftForward target="view"}} data-toggle="arrow-tooltip"
      {{translateAttr data-original-title="services.service.config.configHistory.rightArrow.tooltip"}}><i class="icon-chevron-right icon-3x"></i></div>
  </div>
  <div class="version-info-bar-wrapper">
      <div {{bindAttr class="view.showCompareVersionBar::hidden :version-info-bar"}}>
          <div class="row-fluid">
              <div class="span1 remove-compare-bar" {{action removeCompareVersionBar target="view"}} data-toggle="arrow-tooltip" {{translateAttr data-original-title="services.service.config.configHistory.dismissIcon.tooltip"}}>
                  <i class="icon-remove-circle icon-large"></i>
              </div>
              <div class="label-wrapper span9"
                   data-toggle="tooltip" {{bindAttr data-original-title="view.compareServiceVersion.briefNotes"}}>
                  {{t services.service.config.configHistory.comparing}}
                  <span class="label label-info">{{view.displayedServiceVersion.versionText}}</span>
                  ...
                  <span class="label label-info">{{view.compareServiceVersion.versionText}}</span>
                {{#if view.compareServiceVersion.isCurrent}}
                    <span class="label label-success">{{t common.current}}</span>
                {{/if}}
                  <strong>{{view.compareServiceVersion.author}}</strong>&nbsp;{{t dashboard.configHistory.info-bar.authoredOn}}
                  &nbsp;<strong>{{view.compareServiceVersion.modifiedDate}}</strong>
              </div>
              <div class="pull-right operations-button">
                  <button class="btn btn-success"  {{action revert view.serviceVersionsReferences.compare target="view"}} {{bindAttr disabled="view.versionActionsDisabled" class="view.compareServiceVersion.isCurrent:hidden"}}>{{view.compareServiceVersion.makeCurrentButtonText}}</button>
              </div>
          </div>
      </div>
      <div class="version-info-bar">
          <div class="row-fluid">
              <div class="btn-group pull-left">
                  <button id="toggle-dropdown-button" class="btn dropdown-toggle" data-toggle="dropdown" href="#" {{action hideFullList target="view"}} {{bindAttr disabled="view.versionActionsDisabled"}}>
                      <i class="icon-random"></i>
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {{#each serviceVersion in view.dropDownList}}
                        <li class="pointer dropdown-submenu">
                            <div class="row-fluid version-in-dropdown" {{action switchVersion serviceVersion target="view"}}>
                                <div class="span2">{{serviceVersion.versionText}}</div>
                                <div class="span6">{{serviceVersion.modifiedDate}}</div>
                                <div class="span3">{{serviceVersion.author}}</div>
                                <div class="pull-right"><i class="icon-caret-right"></i></div>
                            </div>
                            <ul class="dropdown-menu version-info-operations">
                                <div class="content"> <strong>{{serviceVersion.displayName}}</strong> <span class="label label-info">{{serviceVersion.versionText}}</span> &nbsp;
                                    <strong>{{t services.service.config.configHistory.configGroup}}:{{serviceVersion.configGroupName}}</strong>
                                    <div class="notes">{{serviceVersion.briefNotes}}</div>
                                </div>
                                <div class="version-operations-buttons">
                                    <button {{bindAttr disabled="serviceVersion.disabledActionAttr.view" class=":btn serviceVersion.isDisplayed:not-allowed-cursor" title="serviceVersion.disabledActionMessages.view"}} {{action switchVersion serviceVersion target="view"}}><i class="icon-search"></i>&nbsp;{{t common.view}}</button>
                                    <button {{bindAttr disabled="serviceVersion.disabledActionAttr.compare" class=":btn serviceVersion.isDisplayed:not-allowed-cursor" title="serviceVersion.disabledActionMessages.compare"}} {{action compare serviceVersion target="view"}}><i class="icon-copy"></i>&nbsp;{{t common.compare}}</button>
                                    <button {{bindAttr disabled="serviceVersion.disabledActionAttr.revert" class=":btn serviceVersion.isCurrent:not-allowed-cursor" title="serviceVersion.disabledActionMessages.revert"}} {{action revert serviceVersion target="view"}}>{{t dashboard.configHistory.info-bar.revert.button}}</button>
                                </div>
                            </ul>
                        </li>
                    {{/each}}
                    {{#unless view.showFullList}}
                        <li class="align-center pointer" id="show_more">
                            <a {{action openFullList target="view"}}>
                              {{t dashboard.configHistory.info-bar.showMore}}&nbsp;{{view.displayName}}
                                &nbsp;<span class="lowercase ellipsis">{{t dashboard.configHistory.title}}</span>
                            </a>
                        </li>
                    {{/unless}}
                  </ul>
              </div>
              <div class="label-wrapper span9" data-toggle="tooltip" {{bindAttr data-original-title="view.displayedServiceVersion.briefNotes"}}>
                  <span class="label label-info">{{view.displayedServiceVersion.versionText}}</span>
                {{#if view.displayedServiceVersion.isCurrent}}
                    <span class="label label-success">{{t common.current}}</span>
                {{/if}}
                  <strong>{{view.displayedServiceVersion.author}}</strong>&nbsp;{{t dashboard.configHistory.info-bar.authoredOn}}&nbsp;<strong>{{view.displayedServiceVersion.modifiedDate}}</strong>
              </div>
              <div class="pull-right operations-button">
                  <div {{bindAttr class="view.displayedServiceVersion.isCurrent::hidden"}}>
                      <button class="btn" {{action doCancel target="controller"}} {{bindAttr disabled="view.isDiscardDisabled"}}>{{t common.discard}}</button>
                      <button class="btn btn-success" {{action save target="view"}} {{bindAttr disabled="view.isSaveDisabled"}}>{{t common.save}}</button>
                  </div>
                  <button class="btn btn-success"  {{action revert view.serviceVersionsReferences.displayed target="view"}} {{bindAttr disabled="view.versionActionsDisabled" class="view.displayedServiceVersion.isCurrent:hidden"}}>{{view.displayedServiceVersion.makeCurrentButtonText}}</button>
              </div>
          </div>
      </div>
  </div>
</div>
