{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<p>{{view.messageBody}}</p>
<div id="config-validation-warnings" class="limited-height-2">
  <table class="table no-borders">
    <thead>
    <tr>
      <th>{{t common.type}}</th>
      <th>{{t common.service}}</th>
      <th>{{t common.property}}</th>
      <th>{{t common.value}}</th>
      <th>{{t common.description}}</th>
    </tr>
    </thead>
    <tbody>
      {{#each service in view.serviceConfigs}}
        {{#each property in service.configs}}
          {{#if property.isVisible}}
            {{#unless property.hiddenBySection}}
              {{#if property.error}}
                <tr class="error">
                  <td>{{t common.error}}</td>
                  <td>{{property.serviceName}}</td>
                  <td>{{property.name}}</td>
                  <td>{{property.value}}</td>
                  <td>
                    <div class="property-message">{{property.errorMessage}}</div>
                    <div class="property-description">{{property.description}}</div>
                  </td>
                </tr>
              {{/if}}
            {{/unless}}
          {{/if}}
        {{/each}}
      {{/each}}
      {{#each service in view.serviceConfigs}}
        {{#each property in service.configs}}
          {{#if property.isVisible}}
            {{#unless property.hiddenBySection}}
              {{#if property.warn}}
                <tr class="warning">
                  <td>{{t common.warning}}</td>
                  <td>{{property.serviceName}}</td>
                  <td>{{property.name}}</td>
                  <td>{{property.value}}</td>
                  <td>
                    <div class="property-message">{{property.warnMessage}}</div>
                    <div class="property-description">{{property.description}}</div>
                  </td>
                </tr>
              {{/if}}
            {{/unless}}
          {{/if}}
        {{/each}}
      {{/each}}
      {{#each message in configValidationGlobalMessage}}
        {{#if message.isGeneral}}
          <tr>
            <td colspan="4">{{message.warnMessage}}</td>
          </tr>
        {{else}}
          <tr>
            <td>{{message.serviceName}}</td>
            <td>{{message.propertyName}}</td>
            <td colspan="2">{{message.warnMessage}} {{t in}} {{message.filename}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
