<div class="alert alert-warning">
  {{t popup.dependent.configs.title}}
</div>
<div id="config-validation-warnings" class="limited-height-2">
  <table class="table no-borders">
    <thead>
    <tr>
      <th>{{t popup.dependent.configs.table.saveProperty}}</th>
      <th>{{t common.property}}</th>
      <th>{{t common.fileName}}</th>
      <th>{{t common.service}}</th>
      <th>{{t popup.dependent.configs.table.currentValue}}</th>
      <th>{{t popup.dependent.configs.table.recommendedValue}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each config in view.parentView.configs}}
      <tr>
        <td>{{view Em.Checkbox checkedBinding="config.allowSave"}}</td>
        <td>{{config.name}}</td>
        <td>{{config.fileName}}</td>
        <td>{{config.stackConfigProperty.serviceName}}</td>
        <td>{{config.defaultValue}}</td>
        <td>{{config.value}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
