<p>{{content.operationName}}</p>
<table id="hover-op-table" class="table table-bordered">
    <thead>
    <tr>
        <th>{{t common.name}}</th>
        <th>{{t common.value}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each keys in content.operatorPlanObj}}
        <tr>
            <td>
              {{keys.name}}
            </td>
            <td>
              {{keys.value}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
