{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="mirroring-manage-clusters">
  <form class="form-horizontal">
    <div class="control-group row-fluid">
      <div class="control-label-manage-clusters span2">{{t common.name}}</div>
      <div class="span10">
        {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.name"}}
      </div>
    </div>
    <div class="control-group form-category">
      <div class="category-title">{{t mirroring.manageClusters.interfaces}}</div>
      {{#view App.InputContainer titleBinding="controller.executeTooltip"}}
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.execute}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.execute" placeholder="resourcemanager-host:8050"}}
        </div>
      {{/view}}
      {{#view App.InputContainer titleBinding="controller.readonlyTooltip"}}
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.readonly}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.readonly" placeholder="hftp://namenode-host:50070"}}
        </div>
      {{/view}}
      {{#view App.InputContainer titleBinding="controller.workflowTooltip"}}
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.workflow}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.workflow" placeholder="http://oozie-host:11000/oozie"}}
        </div>
      {{/view}}
      {{#view App.InputContainer titleBinding="controller.writeTooltip"}}
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.write}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.write" placeholder="hdfs://namenode-host:8020"}}
        </div>
      {{/view}}
    </div>
    <div class="alert alert-info">{{t mirroring.manageClusters.locationsMessage}}</div>
    <div class="control-group form-category">
      <div class="category-title">{{t mirroring.manageClusters.locations}}</div>
      <div class="control-group row-fluid">
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.staging}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.staging"}}
        </div>
      </div>
      <div class="control-group row-fluid">
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.working}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.working"}}
        </div>
      </div>
      <div class="control-group row-fluid">
        <div class="control-label-manage-clusters span2">{{t mirroring.manageClusters.temp}}</div>
        <div class="span10">
          {{view Ember.TextField class="input-fluid" valueBinding="controller.newCluster.temp"}}
        </div>
      </div>
    </div>
  </form>
</div>
