{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="row-fluid">
    <div class="top-portion">
      <div class="pull-left">
        <strong>{{view.dataset.name}}</strong>
        <a class="pull-left" href="#/main/mirroring">&larr; {{t common.back}}</a>
      </div>
      {{#if App.isAdmin}}
        <div class="switcher pull-right">
          {{#if isScheduled}}
            <span class="heatmap-host">
                <a href="javascript:void(null)" data-toggle="modal"
                   class="btn btn-danger enabled" {{action "suspend" target="controller"}}>
                  <i class="icon-pause"></i>
                  {{actionDesc}}
                </a>
                <span>{{content.status}}&nbsp;</span>
              </span>
          {{else}}
            <span>
                <span>&nbsp;{{content.status}}</span>
                <a href="javascript:void(null)" data-toggle="modal"
                   class="btn btn-success" {{action "schedule" target="controller"}}>
                  <i class="icon-play"></i>
                  {{actionDesc}}
                </a>
              </span>
          {{/if}}
        </div>
      {{/if}}
      <br />
    </div>
    <div class="jobs-sidebar">
        <h5>{{t common.details}}
        </h5>
        <hr/>
        <p>{{t mirroring.dataset.target}}: <span class="pull-right">{{view.dataset.targetCluster.clusterName}}</span></p>
        <p>{{t mirroring.dataset.sourceDir}}: <span class="pull-right">{{view.dataset.sourceDir}}</span></p>
        <p>{{t mirroring.dataset.filespec}}: <span class="pull-right">{{view.dataset.filespec}}</span></p>

    </div>
    <div class="jobs-middleportion">
        <div id="mirroring">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  {{#view view.sortView contentBinding="view.filteredContent"}}
                      <th class="first"></th>
                    {{view view.parentView.idSort}}
                    {{view view.parentView.startSort}}
                    {{view view.parentView.endSort}}
                  {{/view}}
                </tr>
                <tr>
                    <th class="first"></th>
                    <th>{{view view.idFilterView}}</th>
                    <th>{{view view.startFilterView}}</th>
                    <th>{{view view.endFilterView}}</th>
                </tr>
                </thead>
                <tbody>
                {{#if controller.isLoaded}}
                  {{#if view.pageContent}}
                    {{#each job in view.pageContent}}
                      {{#view view.JobView contentBinding="job"}}

                      <td class="first">
                        <span {{ bindAttr class="job.healthClass"}}></span>
                      </td>

                      <td>{{unbound job.id}}</td>
                      <td>{{unbound job.startFormatted}}</td>
                      <td>{{unbound job.endFormatted}}</td>
                      {{/view}}
                    {{/each}}
                  {{else}}
                  <tr>
                      <td class="first"></td>
                      <td colspan="6">
                        {{t mirroring.table.noJobs}}
                      </td>
                  </tr>
                  {{/if}}
                {{else}}
                  <tr>
                    <td colspan="7">
                      <div class="spinner"></div>
                    </td>
                  </tr>
                {{/if}}
                </tbody>
            </table>

            <div class="page-bar">
                <div class="items-on-page">
                    <label>{{t common.show}}
                        : {{view view.rowsPerPageSelectView selectionBinding="view.displayLength"}}</label>
                </div>
                <div class="info">{{view.paginationInfo}}</div>
                <div class="paging_two_button">
                  {{view view.paginationLeft}}
                  {{view view.paginationRight}}
                </div>
            </div>
        </div>
    </div>
</div>
