{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="col-md-offset-2 col-md-8">
  <div class="col-md-12 text-center">
    <div class="alert alert-danger">
      <p class="lead">Hive Authentication Password Required</p>
    </div>
  </div>

  <div class="col-md-offset-2 col-md-8 form-horizontal">
    <div class="form-group {{if error 'has-error'}}">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-8">
        {{input type="password" class="form-control" value=password}}
        <span class="help-block">{{errorText}}</span>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success" {{action "login" password}}>Login</button>
      </div>
    </div>
    {{#if loginError}}
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="alert alert-danger ">
            <p>{{loginError}}</p>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

</div>
