{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{multiple-database-search-bar databases=model selected=selected xyz="xyz" }}

<div class="clearfix">
  <div class="col-md-9">
    <div class="row query-editor">
      {{query-editor query=currentQuery }}
    </div>
    <div class="row query-editor-controls">
      <button class="btn btn-success" {{action "executeQuery" }}>{{fa-icon "check"}} Execute</button>
    </div>
  </div>

  <div class="col-md-3">
    <div class="row">
    <div class="panel-group database-panel" id="accordion" role="tablist" aria-multiselectable="true">

      {{#each selectedTablesModels as |tableModel|}}
        <div class="panel panel-default">

          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
                 href="javascript:void(0)" {{action 'showTables' tableModel.dbname }} aria-expanded="true"
                 aria-controls={{tableModel.dbname}}>
                {{ tableModel.dbname }}
              </a>
              <small class="pull-right">Tables({{tableModel.tables.length}})</small>
            </h4>
          </div>

          <div id={{ tableModel.dbname }} class="panel-collapse collapse {{if singleDbModel 'in'}}" role="tabpanel"
          aria-labelledby="headingOne">
          <div class="panel-body">
            {{#if tableModel.tables.length }}
              {{#list-filter header="tables" items=tableModel.tables
              placeholder="Search Tables"
              as |filteredItems|}}
                {{#list-group class="table-list" items=filteredItems as |item|}}
                  {{list-item item=item itemClicked="tableSelected"}}
                {{/list-group}}
              {{/list-filter}}
            {{else}}
              <div class="empty">No Table found.</div>
            {{/if}}
          </div>
        </div>

      </div>
      {{/each}}

    </div>
  </div>
</div>
</div>


<div class="clearfix query-editor-results">
  {{#if isQueryRunning}}
    <div style="left:37%; position: relative;">
      <img src="http://www.bba-reman.com/images/fbloader.gif" height="22" width="32" />
    </div>
  {{/if}}
  {{query-result-table queryResult=queryResult showPreviousButton=showPreviousButton goNextPage='goNextPage' goPrevPage='goPrevPage' }}
</div>

{{#if databaseNotEmpty}}
  {{database-not-empty name=databaseName close="notEmptyDialogClosed"}}
{{/if}}

{{outlet}}