{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row jobs-table">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="30%">Preview</th>
        <th width="20%">Title</th>
        <th width="20%">Database</th>
        <th width="20%">Owner</th>
        <th width="10%">Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.savedQueries as |savedQuery| }}
        <tr>
          <td>{{savedQuery.shortQuery}}</td>
          <td class="break-word">{{savedQuery.title}}</td>
          <td>{{savedQuery.dataBase}}</td>
          <td>{{savedQuery.owner}}</td>
          <td>
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{fa-icon "cog"}}</a>
                <ul class="dropdown-menu dropdown-menu-right"">
                  <li><a href="#" {{action "historySavedQuery" savedQuery.id }} class="text-uppercase">{{fa-icon "history"}} History</a></li>
                  <li><a href="#" {{action "openDeleteSavedQueryModal" savedQuery.id}} class="text-uppercase">{{fa-icon "remove"}} Delete</a></li>
                  <li><a href="#" {{action "openAsWorksheet" savedQuery }} class="text-uppercase">{{fa-icon "folder-open-o"}} Open as worksheet</a></li>
                </ul>
              </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#if showDeleteSaveQueryModal}}
  {{confirm-dialog
  title="Confirm"
  label="Do You want to delete the saved query?"
  titleIcon="minus"
  labelIcon="save"
  rejectIcon="times"
  confirmIcon="check"
  closable=false
  confirmClass="success"
  confirm="deleteSavedQuery"
  reject="deleteSavedQuerypDeclined"
  }}
{{/if}}


{{outlet}}
