{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{#each queue in view.leaf }}
  {{#link-to "queue" queue classNameBindings=":list-group-item queue.overCapacity:list-group-item-danger queue.isNew:list-group-item-info" }}
    <span class="col-md-offset-{{unbound queue.depth}} col-sm-offset-{{unbound queue.depth}} col-xs-offset-{{unbound queue.depth}}">

    {{queue.name}} ({{queue.capacity}}%)

    {{#if queue.version}}
        <span class="label label-info">v{{queue.version}}</span>
    {{/if}}

    <span class="badge pull-right">
      {{#if queue.overCapacity}}
        <i class="fa fa-fw fa-lg red fa-warning"></i>
      {{/if}}
      {{#if queue.isNewQueue }}
        {{#if queue.isSaving}}
        <i class="fa fa-fw fa-lg gray fa-spinner fa-spin"></i>
        {{else}}
        <i class="fa fa-fw fa-lg blue fa-refresh"></i>
        {{/if}}
      {{else}}
        {{#if queue.isError}}
          {{#if queue.isSaving}}
            <i class="fa fa-fw fa-lg gray fa-spinner fa-spin"></i>
          {{else}}
            <span> queue was not saved </span> <i class="fa fa-fw fa-lg red fa-warning"></i>
          {{/if}}
        {{else}}
          {{#if queue.isAnyDirty}}
            {{#if queue.isSaving}}
              <i class="fa fa-fw fa-lg gray fa-spinner fa-spin"></i>
            {{else}}
              {{diff-tooltip queue=queue}}
            {{/if}}
          {{else}}
            <i class="fa fa-fw fa-lg green fa-check"></i>
          {{/if}}
        {{/if}}
      {{/if}}
    </span>

    </span>
  {{/link-to}}

  {{recurce-queues depth=view.childDepth parent=queue.path}}
{{/each}}
