{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div {{bindAttr class="view.config.isHiddenByFilter:hide :widget-config :slider-widget"}}>
  {{#if view.isOriginalSCP}}
    <p class="widget-config-label">{{formatWordBreak view.configLabel}}</p>
  {{/if}}
  <div {{bindAttr class="view.isOriginalSCP:original-widget :ui-slider-wrapper"}}>
    <div class="pull-left ui-slider-wrapper-inner">{{view Ember.TextField valueBinding="view.config.value" class="input-mini slider-input"}}</div>
    <div class="pull-right ui-slider-label">{{view.mirrorValue}} {{view.unitLabel}}</div>
  </div>
  <div {{bindAttr class=":clearfix"}}>
      {{#if view.config.supportsFinal}}
        <a href="#" data-toggle="tooltip"
          {{bindAttr class=":btn :btn-small :btn-final :pull-left view.config.isFinal:active view.showFinalConfig:show:not-show" disabled="view.config.isNotEditable"}}
          {{action "toggleFinalFlag" view.config target="view"}}
          {{translateAttr data-original-title="services.service.config.final"}}>
          <i class="icon-lock"></i>
        </a>
      {{/if}}
      {{#if view.overrideAllowed}}
        {{#isAccessible ADMIN}}
          <div {{bindAttr class=":pull-left :action-button view.isHover:show:not-show"}}>
            <a class="btn btn-small" href="#" data-toggle="tooltip"
              {{action "createOverrideProperty" view.config target="view.parentView"}}
              {{translateAttr data-original-title="common.override"}}>
              <i class="icon-plus-sign"></i>
            </a>
          </div>
        {{/isAccessible}}
      {{/if}}
      {{#if view.isOriginalSCP}}
        {{view App.RestoreConfigView visibleBinding="view.undoAllowed"}}
      {{/if}}
  </div>

  {{#if view.isComparison}}
    {{#if controller.selectedConfigGroup.isDefault}}
      <span
          class="label label-info">{{t dashboard.configHistory.table.version.prefix}}{{controller.selectedVersion}}</span>
      {{#if controller.isCurrentSelected}}
        <span class="label label-success">{{t common.current}}</span>
      {{/if}}
    {{else}}
      <span class="label label-info">{{t common.default}}
        &nbsp;{{t services.service.config.configHistory.configGroup}}</span>
    {{/if}}
  {{/if}}

  {{#if view.isOriginalSCP}}
    {{view App.ConfigWidgetOverrideView
      serviceConfigPropertyBinding="view.config"
      isDefaultGroupSelectedBinding="controller.selectedConfigGroup.isDefault"
    }}
  {{/if}}

  {{#if view.isComparison}}
    {{view App.ConfigWidgetComparisonView serviceConfigPropertyBinding="view.config"}}
  {{/if}}
</div>
