{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<table id="security-stages" class="table no-borders">
  <tbody>
    {{#each stage in controller.stages}}
    <tr>
      <td>
      {{#view App.StageLabelView stageBinding="stage"}}
          <p {{bindAttr class="view.isStarted::faintText"}}>{{stage.label}}</p>
      {{/view}}
      </td>
      <td>
          {{#if stage.isCompleted}}
            {{#if stage.isSuccess}}
              {{view App.StageSuccessView}}
            {{else}}
              {{#if stage.isError}}
                {{view App.StageFailureView}}
              {{/if}}
            {{/if}}
          {{else}}
            {{#if stage.isStarted}}
              {{#if stage.isPolling}}
                <div class="progress-bar pull-left">
                  {{view App.StageInProgressView stageBinding=stage}}
                </div>
                <div class="progress-percentage pull-left">{{stage.progress}}%</div>
              {{/if}}
            {{/if}}
          {{/if}}
      </td>
      <td>
        {{#if stage.isError}}
          <a class="btn btn-primary"
             href="javascript:void(null)" {{action retry target = "controller"}}><i class="icon-repeat icon-white"></i>
            {{t common.retry}}
          </a>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>