{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

{{deleteComponentMsg}}<br/><br/>
{{#if lastComponent}}
  <div class="alert-error row-fluid">
    <div class='tinyspan tinyoffset'>{{view Ember.Checkbox checkedBinding="isChecked"}}</div>
    <div class='span10'>{{view lastComponentError}}</div>
  </div>
{{/if}}
{{#if isZkServer}}
  <br/>
  <div class='alert'>{{view deleteZkServerMsg}}</div>
{{/if}}
{{#if isHiveMetastore}}
  <br/>
  <div class='alert'>{{view deleteHiveMetastoreMsg}}</div>
{{/if}}
{{#if isNimbus}}
  <br/>
  <div class='alert'>{{view deleteNimbusMsg}}</div>
{{/if}}
{{#if isRangerKMSServer}}
  <br/>
  <div class='alert'>{{view deleteRangerKMSServereMsg}}</div>
{{/if}}