{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}
<div class="app-page">
  <div class="apps-breadcrumbs">
    {{#link-to 'slider_apps'}}
      {{t slider.apps.title}}
    {{/link-to}}
      &rarr;
    {{model.name}}
  </div>
  <p></p>
  <div class="col-md-5 pull-right">
    <div class="btn-group display-inline-block pull-right">
      <button class="btn dropdown-toggle btn-primary " data-toggle="dropdown" {{bind-attr disabled=model.isActionPerformed}}>
        {{t common.actions}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each option in controller.availableActions}}
          <li {{bind-attr class="option.submenu.length:dropdown-submenu"}}>
            <a {{action 'openModal' option target='controller'}}>{{humanize option.title}}</a>
            <ul class="dropdown-menu">
              {{#each subitem in option.submenu}}
                <li>
                  <a {{action 'openModal' subitem target='controller'}}>{{humanize subitem.title}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{#if weHaveQuicklinks}}
    <div class="col-md-3 quick-links-wrapper pull-right">
      <ul class="nav nav-pills move">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{t common.quickLinks}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each quickLink in controller.quickLinksOrdered}}
              <li><a {{bind-attr href="quickLink.url"}} target="_blank">{{quickLink.label}}</a></li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </div>
  {{/if}}

  {{bs-tabs contentBinding="sliderAppTabs" default="summary"}}
  <div style="margin-top: 20px;">
    {{outlet}}
  </div>

</div>
