{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<!-- Flume Agents -->
    <div id="flume-summary">
      <a href="#" {{action filterHosts view.flumeHandlerComponent}}>{{view.summaryHeader}}</a>
        <div class="btn-group display-inline-block flume-agents-actions pull-right">
          <a {{bindAttr class=":btn :dropdown-toggle view.isActionsDisabled:disabled"}} data-toggle="dropdown" href="javascript:void(null)">{{t common.actions}}
            <span class="caret"></span>
          </a>
          <ul class="pull-left dropdown-menu">
            <li {{bindAttr class="view.isStartAgentDisabled:disabled"}}>
              <a href="javascript:void(null)"
                      {{bindAttr class="view.isStartAgentDisabled:disabled"}}
                      {{action startFlumeAgent target="controller"}}>
                {{t services.service.summary.flume.startAgent}}</a>
            </li>
            <li {{bindAttr class="view.isStopAgentDisabled:disabled"}}>
              <a href="javascript:void(null)"
                      {{bindAttr class="view.isStopAgentDisabled:disabled"}}
                      {{action stopFlumeAgent target="controller"}}>
                {{t services.service.summary.flume.stopAgent}}</a>
            </li>
          </ul>
        </div>
      <div class="scrollable-container">
        <table class="table table-hover table-bordered table-striped" id="flume-agents-table">
          <thead>
          {{#view view.sortView contentBinding="view.filteredContent" class="label-row"}}
            {{view view.parentView.statusSort}}
            {{view view.parentView.agentSort}}
            {{view view.parentView.hostSort}}
            {{view view.parentView.sourceSort}}
            {{view view.parentView.channelSort}}
            {{view view.parentView.sinkSort}}
          {{/view}}
          </thead>
          <tbody>
          {{#each agent in view.pageContent}}
            {{#view view.agentView contentBinding="agent"}}
              <td class="agent-status">
                <span {{bindAttr class="agent.healthClass"}}></span>
              </td>
              <td class="agent-name">
                {{agent.name}}
              </td>
              <td class="agent-host-name">
                <a href="javascript:void(null)" {{action showDetails agent.host}}>
                  {{agent.host.hostName}}
                </a>
              </td>
              <td>
                {{agent.sourcesCount}}
              </td>
              <td>
                {{agent.channelsCount}}
              </td>
              <td>
                {{agent.sinksCount}}
              </td>
            {{/view}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
