{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<!-- HBase Master Server -->
  {{view view.dashboardMasterComponentView}}
<!-- RegionServers -->
<tr>
  <td><a href="#" {{action filterHosts view.regionServerComponent}}>{{t dashboard.services.hbase.regionServers}}</a>
  </td>
  <td>
    <span>
      {{#view App.ComponentLiveTextView liveComponentsBinding="view.service.regionServersStarted" totalComponentsBinding="view.service.regionServersTotal"}}
        {{view.liveComponents}}/{{view.totalComponents}}
      {{/view}}
    </span>
      {{t services.service.summary.RegionServersLIVE}}
  </td>
</tr>
<!-- Regions in Transition -->
<tr>
  <td>{{t dashboard.services.hbase.regions.transition}}</td>
  <td>{{view.service.regionsInTransition}}</td>
</tr>
<!-- HBase Master Started Time -->
<tr>
  <td>{{t dashboard.services.hbase.masterStarted}}</td>
  <td>{{view.masterStartedTime}}</td>
</tr>
<!-- HBase Master Activated Time -->
<tr>
  <td>{{t dashboard.services.hbase.masterActivated}}</td>
  <td>{{view.masterStartedTime}}</td>
</tr>
<!-- Average Load -->
<tr>
  <td>{{t dashboard.services.hbase.averageLoad}}</td>
  <td>{{view.averageLoad}}</td>
</tr>
<!-- Master Server Heap -->
<tr>
  <td>{{t dashboard.services.hbase.masterServerHeap}}</td>
  <td>{{view.masterServerHeapSummary}}</td>
</tr>

