{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="row">
  <div class="col-md-6">
    {{view App.SummaryMasterComponentsView mastersCompBinding="view.parentView.mastersObj"}}
    {{#if view.isSupervisorCreated}}
      <div class="row component SUPERVISOR">
        <div class="col-md-6 summary-label">
          <a href="#" {{action filterHosts view.filterComponent}}>
            {{t dashboard.services.storm.supervisors}}
          </a>
        </div>
        <div class="col-md-6 summary-value">
          {{#if App.router.clusterController.isServiceContentFullyLoaded}}
            {{#view App.ComponentLiveTextView liveComponentsBinding="view.superVisorsLive" totalComponentsBinding="view.superVisorsTotal" tagName="span"}}
              {{view.liveComponents}}/{{view.totalComponents}}
            {{/view}}
            {{t services.service.summary.SupervisorsLIVE}}
          {{else}}
            {{t common.loading.eclipses}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-6">
    <div class="row storm-slots">
      <div class="col-md-6 summary-label">
        {{t services.service.summary.storm.freeslots}}
      </div>
      <div class="col-md-6 summary-value">
        {{formatNull view.service.freeSlots}} / {{formatNull view.service.totalSlots}}
        ({{formatNull view.freeSlotsPercentage empty="0"}}% {{t common.free}})
      </div>
    </div>
    <div class="row storm-tasks">
      <div class="col-md-6 summary-label">
        {{t services.service.summary.storm.tasks}}
      </div>
      <div class="col-md-6 summary-value">
        {{formatNull view.service.totalTasks}}
      </div>
    </div>
    <div class="row storm-executors">
      <div class="col-md-6 summary-label">
        {{t services.service.summary.storm.executors}}
      </div>
      <div class="col-md-6 summary-value">
        {{formatNull view.service.totalExecutors}}
      </div>
    </div>
    <div class="row storm-topologies">
      <div class="col-md-6 summary-label">
        {{t services.service.summary.storm.topologies}}
      </div>
      <div class="col-md-6 summary-value">
        {{formatNull view.service.topologies}}
      </div>
    </div>
    <div class="row nimbus-uptime">
      <div class="col-md-6 summary-label">
        {{t services.service.summary.storm.nimbus.uptime}}
      </div>
      <div class="col-md-6 summary-value">
        {{view.nimbusUptimeFormatted}}
      </div>
    </div>
  </div>
</div>