{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}


<div id="jobs">
  <div class="jobs_head">
    <div>{{t menu.item.jobs}}</div>
    {{#if controller.hasNewJobs}}
      <div class="new-jobs-link">
        <a href="javascript:void(null);" {{action updateJobsByClick target="controller"}}>{{t jobs.new_jobs.info}}</a>
      </div>
    {{/if}}
    <div class="jobs-type">
      {{t jobs.type}} : <span class="label label-info">{{t jobs.type.hive}}</span>
    </div>
  </div>
  <table id="jobs-table" class="table table-bordered table-striped">
    <thead>
      {{#view view.sortView classNames="label-row" contentBinding="view.content"}}
        <th></th>
        {{view view.parentView.idSort}}
        {{view view.parentView.userSort}}
        {{view view.parentView.startTimeSort}}
        {{view view.parentView.endTimeSort}}
        {{view view.parentView.durationSort}}
      {{/view}}

    <tr id="filter-row" class="first">
      <th></th>
      <th>{{view view.jobsIdFilterView}}</th>
      <th>{{view view.userFilterView}}</th>
      <th class="start-time">{{view view.startTimeFilterView}}</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {{#if view.noDataToShow}}
        <tr>
          <td class="no-data" colspan="6">
            {{controller.jobsMessage}}
          </td>
        </tr>
      {{else}}
        {{#each job in controller.sortedContent}}
          <tr>
            <td>
              {{#if job.failed}}
                <i class="icon-remove-sign job-link" {{bind-attr title="view.jobFailMessage"}}></i>
              {{/if}}
            </td>
            <td>{{view view.jobNameView jobBinding="job"}}</td>
            <td>{{job.user}}</td>
            <td>{{job.startTimeDisplay}}</td>
            <td>{{job.endTimeDisplay}}</td>
            <td>{{job.durationDisplay}}</td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>

  <div class="page-bar">
    <div id="filtered-jobs">
      {{view.filteredJobs}} - <a href="javascript:void(null);" {{action actionClearFilters target="view"}}>{{t jobs.filtered.clear}}</a>
    </div>
    <div class="items-on-page">
      <label>{{t jobs.show.up.to}}: {{view view.rowsPerPageSelectView selectionBinding="view.displayLength"}}</label>
    </div>
    <div class="paging_two_button">
      {{view view.jobsPaginationLeft}}
      {{view view.jobsPaginationRight}}
    </div>
  </div>
</div>

